# Enable connection collapsing to prevent thundering herds to the same URL.
collapsed_forwarding.so

# Perform advanced header rewriting.
header_rewrite.so {{etc_dir}}/trafficserver/header_rewrite.config
