API_UMBRELLA_ROOT={{root_dir}}
API_UMBRELLA_EMBEDDED_ROOT={{_embedded_root_dir}}
API_UMBRELLA_SRC_ROOT={{_src_root_dir}}
API_UMBRELLA_RUNTIME_CONFIG={{_api_umbrella_config_runtime_file}}
API_UMBRELLA_DB_DIR={{db_dir}}
