<h1>Admins</h1>

<div class="button-actions button-actions-down">
  <a href="#/admins/new" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add New Admin</a>
</div>

<div id="results_table searchable-table-with-add">
  {{view Admin.AdminsTableView dataBinding='model.logs' queryBinding='query'}}
</div>
