RAILS_ENV={{app_env}}
DELAYED_JOB=true
API_UMBRELLA_RUNTIME_CONFIG={{_api_umbrella_config_runtime_file}}
RAILS_TMP_PATH={{tmp_dir}}/web-app
RAILS_PUBLIC_PATH={{_embedded_root_dir}}/apps/core/current/build/dist/web-app-public

# Set the HOME path for Bundler to a writable directory to prevent warnings in
# Bundler 1.14+: # https://github.com/bundler/bundler/issues/5372 Note that we
# shouldn't actually need to write anything into this directory at runtime,
# this just prevents the warnings and the creation of the temporary directory.
HOME={{run_dir}}
