RAILS_ENV={{app_env}}
API_UMBRELLA_RUNTIME_CONFIG={{_api_umbrella_config_runtime_file}}
RAILS_LOG_TO_STDOUT=true
RAILS_TMP_PATH={{tmp_dir}}/web-app
RAILS_PUBLIC_PATH={{_embedded_root_dir}}/apps/core/shared/web-app-precompiled-assets
{{#_test_env?}}
FULL_STACK_TEST=true
{{/_test_env?}}
