#!/bin/sh

# Redirect stderr to stdout
exec 2>&1

if test ${1} = "start"; then
  echo "starting ${2}..."

  RUN_OPTS="-e rc.env -c {{_src_root_dir}}/src/api-umbrella/web-app"
  {{#user}}
  RUN_OPTS="$RUN_OPTS -u {{user}}"
  {{/user}}

  exec runtool $RUN_OPTS bundle exec ./script/delayed_job --pid-dir={{run_dir}} --queues=mailers run
fi

exit 0
