<h1>API Scopes</h1>

{{#if this.currentAdmin.permissions.admin_manage}}
  <div class="button-actions button-actions-down">
    <LinkTo @route="api_scopes.new" class="btn btn-primary"><FaIcon @icon="plus" /> Add New API Scope</LinkTo>
  </div>
{{/if}}

<ApiScopes::IndexTable />
