<h1>API Scopes</h1>

<div class="button-actions button-actions-down">
  {{#link-to "api_scopes.new" class="btn btn-primary"}}{{fa-icon "plus"}} Add New API Scope{{/link-to}}
</div>

{{api-scopes/index-table}}
