<h1>Website Backends</h1>

<div class="button-actions button-actions-down">
  <a href="#/website_backends/new" class="btn btn-primary"><i class="fa fa-plus"></i> Add Website Backend</a>
</div>

<div id="results_table searchable-table-with-add">
  {{view Admin.WebsiteBackendsTableView}}
</div>
