{{view Admin.StatsQueryFormView}}

<div id="results_table">
  {{view Admin.StatsUsersTableView}}
</div>
<div class="results-table-actions">
  <a {{bind-attr href='downloadUrl'}}>Download CSV</a>
</div>

{{view Admin.LoadingOverlayView isLoadingBinding='controllers.application.isLoading'}}
