#!/usr/bin/env bash
set -e -u

if [ "${1}" = "start" ]; then
  service="$2"
  destination="{{log.destination}}"
  if [ "$destination" = "console" ]; then
    ln -sf /dev/stdout "{{log_dir}}/$service/access.log"
  fi
fi

exec ../rc.log "$@"
