<h1>Dummy Sign In</h1>

<div class="alert alert-info">
  <strong>Enter any email address you'd like.</strong><br>
  This login option is for <strong>development only</strong>. Enter any email address and you'll be logged in under that account (an account will be created if one doesn't already exist).
</div>

<div class="login-container">
  <%= form_tag(admin_developer_omniauth_callback_path) do |f| %>
    <div class="form-inputs">
      <div class="form-group string optional admin_username">
        <%= label_tag :username, t("mongoid.attributes.admin.username"), :class => "control-label string optional" %>
        <%= text_field_tag :username, nil, :class => "form-control string optional" %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag "Sign in", :class => "btn btn-default" %>
    </div>
  <% end %>
</div>
