/*
 *= require vendor/normalize.css
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0px;
  text-align: center;
  font-weight: 200;
}

.btn {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background-color: #07c;
  color: #fff;
  border-width: 0px;
  padding: 10px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #005a9a;
}

.btn:disabled,
.btn[disabled]:hover,
.btn[disabled]:focus {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  background-color: #ddd;
  color: #666;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#login, .alert {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.admin-login {
  margin: 20px 0px;
}

.admin-login form {
  margin: 0px;
}

.admin-login .alert {
  margin-bottom: 2px;
  font-size: 14px;
}
