.task
build/work
build/package/work
build/package/verify/.rnd

.vagrant
workspace
chef/cookbooks
chef/tmp
.bundle
.ruby-version
Dockerfile*
Makefile
docker-compose.yml
docker-compose.override.yml
config/local.yml
install_manifest.txt
install_manifest_core.txt
deploy/.env
deploy/log
deploy/tmp
log/*
test/reports
test/tmp
ci_cache
vendor
website/build
website/.sass-cache
docs/_build
tmp

src/api-umbrella/admin-ui/dist
src/api-umbrella/admin-ui/tmp
src/api-umbrella/admin-ui/node_modules
src/api-umbrella/admin-ui/*.log
src/api-umbrella/admin-ui/bower_components
src/api-umbrella/admin-ui/.eslintcache
