services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
      cache_from:
        - ${DOCKER_IMAGE_CACHE_FROM:-ghcr.io/nrel/api-umbrella:dev-env-main}
    entrypoint: /app/docker/dev/docker-entrypoint
    command: /app/docker/dev/docker-start
    volumes:
      - .:/app
      - build_cache:/build
    environment:
      HTTP_PORT: 8200
      HTTPS_PORT: 8201
      SECRET_KEY: for-development-not-secure
    ports:
      - "8200:8200"
      - "8201:8201"
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    depends_on:
      - postgres
      - opensearch
  postgres:
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: dev_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "14011:5432"
  opensearch:
    build:
      context: .
      dockerfile: Dockerfile-opensearch
    environment:
      OPENSEARCH_JAVA_OPTS: "-Xms32m -Xmx256m"
      DISABLE_INSTALL_DEMO_CONFIG: "true"
      DISABLE_SECURITY_PLUGIN: "true"
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
      DISABLE_PERFORMANCE_ANALYZER_AGENT_CLI: "true"
      discovery.type: single-node
      cluster.routing.allocation.disk.threshold_enabled: "false"
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    ports:
      - "14002:9200"
volumes:
  build_cache:
  postgres_data:
  opensearch_data:
