/*
 *= require _vendor/swagger/css/screen.css
 */

.swagger-section {
  margin-top: 20px;
}

.swagger-section ul {
  padding: 0px;
}

.swagger-section .container {
  padding: 0px;
  width: auto;
}

.swagger-section h2 {
  margin: 0px;
}
