<h1>API Scopes</h1>

<div class="button-actions button-actions-down">
  <a href="#/api_scopes/new" class="btn btn-primary"><i class="fa fa-plus"></i> Add New API Scope</a>
</div>

<div id="results_table searchable-table-with-add">
  {{view Admin.ApiScopesTableView dataBinding='model.logs' queryBinding='query'}}
</div>
