<div ...attributes>
  <FieldsFor @model={{this.model}} @style="horizontal" as |f|>
    {{f.textarea-field "allowedReferersString" label=(t "mongoid.attributes.api/settings.allowed_referers") tooltip=(t "admin.api.settings.allowed_referers_tooltip_markdown") placeholder="*.example.com/*"}}
  </FieldsFor>
</div>