<%- omniauth_external_providers.each do |provider| %>
  <div class="external-login">
    <% strategy = Devise.omniauth_configs[provider].strategy %>
    <% if(strategy.respond_to?(:client_secret) && strategy.client_secret.blank?) %>
      <div class="alert alert-danger">
        <%= t(provider, :scope => [:omniauth_providers]) %> authentication provider not yet configured.<br>
        Access tokens must be defined in <code>/etc/api-umbrella/api-umbrella.yml</code> (see the <code>web.admin.auth_strategies</code> section)
      </div>
      <button class="btn btn-primary" disabled="disabled"><i class="fa fa-<%= provider %>" aria-hidden="true"></i><span>Sign in with <%= t(provider, :scope => [:omniauth_providers]) %></span></button>
    <% else %>
      <%= link_to %(<i class="fa fa-#{provider}" aria-hidden="true"></i><span>Sign in with #{t(provider, :scope => [:omniauth_providers])}</span>).html_safe, omniauth_authorize_path(resource_name, provider), :class => "btn btn-primary" %>
    <% end %>
  </div>
<% end -%>
