<h1><%= t(".admin_sign_in") %></h1>

<div class="login-container">
  <% if(!ApiUmbrellaConfig[:web][:admin][:auth_strategies][:_enabled][:local] && Admin.count == 0) %>
    <div class="alert alert-danger">
      <strong>No admins currently exist.</strong><br>
      Initial admin accounts may be defined in <code>/etc/api-umbrella/api-umbrella.yml</code> (see the <code>web.admin.initial_superusers</code> section)
    </div>
  <% end %>

  <% if(display_login_form?) %>
    <% if(ApiUmbrellaConfig[:web][:admin][:auth_strategies][:_enabled][:local]) %>
      <%= render("local_login_form") %>
    <% elsif(ApiUmbrellaConfig[:web][:admin][:auth_strategies][:_only_ldap_enabled?]) %>
      <%= render("ldap_login_form") %>
    <% end %>
  <% end %>

  <% if(omniauth_external_providers.any?) %>
    <% if(display_login_form?) %>
      <hr>
    <% end %>

    <%= render("omniauth_provider_buttons") %>
  <% elsif(!display_login_form?) %>
    <div class="alert alert-danger">
      <strong>No authentication strategies are set.</strong><br>
      You must define at least one authentication strategy in <code>/etc/api-umbrella/api-umbrella.yml</code> (see the <code>web.admin.auth_strategies.enabled</code> section)
    </div>
  <% end %>
</div>
