# Conditional proxy headers. Don't set these x-forwarded headers if they've
# already been set (by the SSL terminator).
set $real_scheme $http_x_forwarded_proto;
if ($real_scheme = "") {
  set $real_scheme $scheme;
}

set $real_port $http_x_forwarded_port;
if ($real_port = "") {
  set $real_port $server_port;
}

# Only retry backends in the event of connection errors (and not also
# connection timeouts as is the default). This prevents slow backend timeouts
# triggering multiple requests (since there are usually multiple gatekeeper
# processes setup).
proxy_next_upstream error;

# Don't buffer proxied requests to allow for streaming APIs.
proxy_buffering off;

include ./frontend_proxy_header_defaults.conf;
