worker_processes {{nginx.workers}};

daemon off;

{{#user}}
user {{user}} {{group}};
{{/user}}
{{^user}}
{{#_effective_user_name}}
# Even if user switching isn't enabled, make sure nginx uses the current
# effective user and group for launching the child workers (so nginx's default
# usage of the "nobody" user isn't used).
user {{_effective_user_name}} {{_effective_group_name}};
{{/_effective_user_name}}
{{/user}}

pid {{run_dir}}/nginx.pid;

events {
  worker_connections {{nginx.worker_connections}};
}

error_log stderr {{nginx.error_log_level}};

env API_UMBRELLA_SRC_ROOT;
env API_UMBRELLA_RUNTIME_CONFIG;

pcre_jit on;

http {
  log_format combined_extended '$remote_addr - $remote_user [$time_local] '
    '"$request" $status $body_bytes_sent '
    '"$http_referer" "$http_user_agent" '
    'id=$x_api_umbrella_request_id c=$sent_http_x_cache '
    's=$scheme h=$host sp=$server_port '
    'bes=$http_x_api_umbrella_backend_scheme beid=$http_x_api_umbrella_backend_id '
    'ca=$connections_active cr=$connections_reading cw=$connections_writing '
    'ct=$connections_waiting cq=$connection_requests bs=$bytes_sent '
    'rl=$request_length rt=$request_time uct=$upstream_connect_time '
    'uht=$upstream_header_time urt=$upstream_response_time '
    'ua="$upstream_addr" us="$upstream_status"';
  access_log {{log_dir}}/nginx/{{nginx.access_log_filename}} combined_extended {{nginx.access_log_options}};

  client_body_temp_path {{tmp_dir}}/nginx-client_body_temp;
  proxy_temp_path {{tmp_dir}}/nginx-proxy_temp;
  fastcgi_temp_path {{tmp_dir}}/nginx-fastcgi_temp;
  uwsgi_temp_path {{tmp_dir}}/nginx-uwsgi_temp;
  scgi_temp_path {{tmp_dir}}/nginx-scgi_temp;
  server_tokens off;
  {{#strip_server_header}}
    more_clear_headers Server;
  {{/strip_server_header}}

  lua_package_path '{{_package_path}}';
  lua_package_cpath '{{_package_cpath}}';

  # Quiet the raw socket errors from the logs, since we should be handling any
  # connection errors as appropriate in the Lua code.
  lua_socket_log_errors off;

  lua_shared_dict active_config {{nginx.shared_dicts.active_config.size}};
  lua_shared_dict api_users {{nginx.shared_dicts.api_users.size}};
  lua_shared_dict geocode_city_cache {{nginx.shared_dicts.geocode_city_cache.size}};
  lua_shared_dict interval_locks {{nginx.shared_dicts.interval_locks.size}};
  lua_shared_dict locks {{nginx.shared_dicts.locks.size}};
  lua_shared_dict stats {{nginx.shared_dicts.stats.size}};
  {{#nginx.lua_ssl_trusted_certificate}}
  lua_ssl_trusted_certificate {{nginx.lua_ssl_trusted_certificate}};
  lua_ssl_verify_depth {{nginx.lua_ssl_verify_depth}};
  {{/nginx.lua_ssl_trusted_certificate}}

  {{#dns_resolver._nameservers_nginx}}
    resolver {{dns_resolver._nameservers_nginx}};
    resolver_timeout 12s;
  {{/dns_resolver._nameservers_nginx}}

  {{#geoip._enabled}}
    geoip2 {{db_dir}}/geoip/GeoLite2-City.mmdb {
      $geoip2_data_continent_code continent code;
      $geoip2_data_country_code country iso_code;
      $geoip2_data_subdivision_code subdivisions 0 iso_code;
      $geoip2_data_city_name city names en;
      $geoip2_data_latitude location latitude;
      $geoip2_data_longitude location longitude;
      $geoip2_data_is_anonymous_proxy traits is_anonymous_proxy;
      $geoip2_data_is_satellite_provider traits is_satellite_provider;
    }
  {{/geoip._enabled}}

  geo $banned_ip {
    default 0;
    {{#ban.ips}}
    {{.}} 1;
    {{/ban.ips}}
  }

  map $http_user_agent $banned_user_agent {
    default 0;
    {{#ban.user_agents}}
    "{{.}}" 1;
    {{/ban.user_agents}}
  }

  init_by_lua_file '{{_src_root_dir}}/src/api-umbrella/proxy/hooks/init.lua';
  init_worker_by_lua_file '{{_src_root_dir}}/src/api-umbrella/proxy/hooks/init_worker.lua';

  lua_check_client_abort on;
  if_modified_since off;

  include ./mime.conf;
  include ./realip.conf;

  {{#router.global_rate_limits.ip_connections}}
  # Limit the number of simultaneous connections per IP address.
  limit_conn_zone $binary_remote_addr zone=api_umbrella_conn_addr_zone:{{router.global_rate_limits.ip_connections_size}};
  limit_conn_status {{apiSettings.error_data.over_rate_limit.status_code}};
  limit_conn_log_level {{router.global_rate_limits.ip_connections_log_level}};
  {{/router.global_rate_limits.ip_connections}}

  {{#router.global_rate_limits.ip_rate}}
  # Rate limits per IP address.
  #
  # In general, we want to rely on the more granular and configurable rate limits
  # provided by the API Umbrella Gatekeeper, so this limit should be higher than
  # the Gatekeeper's limits. This just provides an extra line of simple defense
  # against misbehaving clients from overloading the Gatekeeper.
  limit_req_zone $binary_remote_addr zone=api_umbrella_req_addr_zone:{{router.global_rate_limits.ip_rate_size}} rate={{router.global_rate_limits.ip_rate}};
  limit_req_status {{apiSettings.error_data.over_rate_limit.status_code}};
  limit_req_log_level {{router.global_rate_limits.ip_rate_log_level}};
  {{/router.global_rate_limits.ip_rate}}

  # Allow any sized uploads to backends.
  client_max_body_size 0;

  keepalive_timeout {{nginx.keepalive_timeout}}s;

  gzip on;
  gzip_comp_level 2;
  gzip_disable msie6;
  gzip_min_length 1000;
  gzip_proxied any;
  gzip_types application/atom+xml application/javascript application/json application/rss+xml application/x-javascript application/xml text/css text/csv text/javascript text/plain text/xml;
  gzip_vary on;

  ssl_protocols {{nginx.ssl_protocols}};
  ssl_ciphers {{nginx.ssl_ciphers}};
  ssl_session_cache {{nginx.ssl_session_cache}};
  ssl_session_timeout {{nginx.ssl_session_timeout}};
  ssl_session_tickets {{nginx.ssl_session_tickets}};
  ssl_buffer_size {{nginx.ssl_buffer_size}};
  ssl_prefer_server_ciphers {{nginx.ssl_prefer_server_ciphers}};
  ssl_ecdh_curve {{nginx.ssl_ecdh_curve}};
  {{#nginx.dhparam}}
  # Diffie-Hellman parameter for DHE ciphersuites, recommended 2048 bits
  ssl_dhparam {{nginx.dhparam}};
  {{/nginx.dhparam}}

  proxy_buffer_size {{nginx.proxy_buffer_size}};
  proxy_buffers {{nginx.proxy_buffers}};

  {{#nginx.variables_hash_max_size}}
    variables_hash_max_size {{nginx.variables_hash_max_size}};
  {{/nginx.variables_hash_max_size}}

  {{#nginx.server_names_hash_bucket_size}}
    server_names_hash_bucket_size {{nginx.server_names_hash_bucket_size}};
  {{/nginx.server_names_hash_bucket_size}}

  {{#nginx.vhost_traffic_status.enabled}}
    vhost_traffic_status_zone;
    vhost_traffic_status_filter_by_host {{nginx.vhost_traffic_status.filter_by_host}};
  {{/nginx.vhost_traffic_status.enabled}}

  upstream api_umbrella_trafficserver_backend {
    server {{trafficserver.host}}:{{trafficserver.port}};
    keepalive 10;
  }

  server {
    listen {{api_server.host}}:{{api_server.port}} so_keepalive={{nginx.listen_so_keepalive}}{{#nginx.listen_backlog}} backlog={{nginx.listen_backlog}}{{/nginx.listen_backlog}};

    set $x_api_umbrella_request_id $http_x_api_umbrella_request_id;

    location /api-umbrella/v1/health {
      content_by_lua_file '{{_src_root_dir}}/src/api-umbrella/http-api/health.lua';
    }

    location /api-umbrella/v1/state {
      content_by_lua_file '{{_src_root_dir}}/src/api-umbrella/http-api/state.lua';
    }

    location /api-umbrella/v0/shared-memory-stats {
      content_by_lua_file '{{_src_root_dir}}/src/api-umbrella/http-api/shared_memory_stats.lua';
    }

    {{#nginx.vhost_traffic_status.enabled}}
      location /api-umbrella/v0/nginx-status {
        access_by_lua_file '{{_src_root_dir}}/src/api-umbrella/http-api/require_system_info_role.lua';
        sub_filter 'format/json"' 'format/json?api_key=" + new URLSearchParams(window.location.search).get("api_key")';
        sub_filter 'vtsUpdateInterval=1000' 'vtsUpdateInterval=10000';
        vhost_traffic_status_display;
      }

      {{#_service_auto_ssl_enabled?}}
        location /api-umbrella/v0/auto-ssl-nginx-status {
          access_by_lua_file '{{_src_root_dir}}/src/api-umbrella/http-api/require_system_info_role.lua';
          sub_filter 'format/json"' 'format/json?api_key=" + new URLSearchParams(window.location.search).get("api_key")';
          sub_filter 'vtsUpdateInterval=1000' 'vtsUpdateInterval=10000';
          proxy_pass http://127.0.0.1:{{auto_ssl.hook_server.port}};
        }
      {{/_service_auto_ssl_enabled?}}
    {{/nginx.vhost_traffic_status.enabled}}
  }

  {{#hosts}}
  server {
    {{#listen.addresses}}
      listen {{.}}:{{http_port}}{{#default}} default_server so_keepalive={{nginx.listen_so_keepalive}}{{#nginx.listen_backlog}} backlog={{nginx.listen_backlog}}{{/nginx.listen_backlog}}{{/default}};
      listen {{.}}:{{https_port}} ssl{{#default}} default_server so_keepalive={{nginx.listen_so_keepalive}}{{#nginx.listen_backlog}} backlog={{nginx.listen_backlog}}{{/nginx.listen_backlog}}{{/default}};
    {{/listen.addresses}}
    server_name {{_nginx_server_name}};

    {{#ssl_cert}}
    ssl_certificate {{ssl_cert}};
    ssl_certificate_key {{ssl_cert_key}};
    {{/ssl_cert}}
    {{^ssl_cert}}
    ssl_certificate {{etc_dir}}/ssl/self_signed.crt;
    ssl_certificate_key {{etc_dir}}/ssl/self_signed.key;
    {{/ssl_cert}}

    include ./frontend_defaults.conf;

    {{#http_strict_transport_security}}
    # Enable HSTS(HTTP Strict Transport Security) https://developer.mozilla.org/en-US/docs/Security/HTTP_Strict_Transport_Security
    # to avoid ssl stripping https://en.wikipedia.org/wiki/SSL_stripping#SSL_stripping
    add_header Strict-Transport-Security "{{http_strict_transport_security}}" always;
    {{/http_strict_transport_security}}

    {{#rewrites}}
    rewrite {{.}};
    {{/rewrites}}

    # Optional host-specific realip settings.
    {{#set_real_ip_from}}
    set_real_ip_from {{.}};
    {{/set_real_ip_from}}
    {{#real_ip_header}}
    real_ip_header {{real_ip_header}};
    {{/real_ip_header}}
    {{#real_ip_recursive}}
    real_ip_recursive {{real_ip_recursive}};
    {{/real_ip_recursive}}

    location / {
      include ./gatekeeper.conf;
    }
  }
  {{/hosts}}

  server {
    listen {{static_site.host}}:{{static_site.port}} so_keepalive={{nginx.listen_so_keepalive}}{{#nginx.listen_backlog}} backlog={{nginx.listen_backlog}}{{/nginx.listen_backlog}};

    set $x_api_umbrella_request_id $http_x_api_umbrella_request_id;
    root {{static_site.build_dir}};

    # Security headers
    # https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#tab=Headers
    more_set_headers "X-XSS-Protection: 1; mode=block";
    more_set_headers "X-Frame-Options: DENY";
    more_set_headers "X-Content-Type-Options: nosniff";
  }
}
