worker_processes {{web.workers}};
error_log stderr {{web.error_log_level}};
daemon off;
pid {{run_dir}}/nginx-web-app.pid;

{{#user}}
user {{user}} {{group}};
{{/user}}

events {
  worker_connections {{web.worker_connections}};
}

env API_UMBRELLA_SRC_ROOT;
env API_UMBRELLA_RUNTIME_CONFIG;

pcre_jit on;

http {
  access_log {{log_dir}}/nginx-web-app/{{nginx.access_log_filename}} combined;

  client_body_temp_path {{tmp_dir}}/nginx-web-app-client_body_temp;
  proxy_temp_path {{tmp_dir}}/nginx-web-app-proxy_temp;
  fastcgi_temp_path {{tmp_dir}}/nginx-web-app-fastcgi_temp;
  uwsgi_temp_path {{tmp_dir}}/nginx-web-app-uwsgi_temp;
  scgi_temp_path {{tmp_dir}}/nginx-web-app-scgi_temp;
  server_tokens off;

  # client_body_buffer_size must be configured to be the same size as
  # client_max_body_size, or else large bodies will not be read in (but error
  # will be thrown either): https://github.com/leafo/lapis/issues/179
  client_max_body_size {{web.max_body_size}};
  client_body_buffer_size {{web.max_body_size}};

  {{#_development_env?}}
    lua_code_cache off;
  {{/_development_env?}}

  # FIXME: Detect path/make configurable.
  lua_ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
  lua_ssl_verify_depth 5;

  lua_package_path '{{_src_root_dir}}/src/api-umbrella/web-app/?.lua;{{_package_path}}';
  lua_package_cpath '{{_package_cpath}}';
  lua_check_client_abort on;
  if_modified_since off;

  lua_shared_dict active_config {{nginx.shared_dicts.active_config.size}};
  lua_shared_dict interval_locks {{nginx.shared_dicts.interval_locks.size}};
  lua_shared_dict locks {{nginx.shared_dicts.locks.size}};

  # For lua-resty-openidc
  lua_shared_dict discovery {{nginx.shared_dicts.discovery.size}};
  lua_shared_dict jwks {{nginx.shared_dicts.jwks.size}};
  lua_shared_dict introspection {{nginx.shared_dicts.introspection.size}};

  {{#dns_resolver._nameservers_nginx}}
    # FIXME: Make ipv6 configurable.
    resolver {{dns_resolver._nameservers_nginx}} ipv6=off;
    resolver_timeout 12s;
  {{/dns_resolver._nameservers_nginx}}

  include ./mime.conf;
  include ./realip.conf;

  init_by_lua_file '{{_src_root_dir}}/src/api-umbrella/web-app/hooks/init.lua';
  init_worker_by_lua_file '{{_src_root_dir}}/src/api-umbrella/web-app/hooks/init_worker.lua';

  server {
    listen {{web.host}}:{{web.port}} so_keepalive={{web.listen_so_keepalive}}{{#web.listen_backlog}} backlog={{.}}{{/web.listen_backlog}};

    set $x_api_umbrella_request_id $http_x_api_umbrella_request_id;

    # Security headers
    # https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#tab=Headers
    more_set_headers "X-XSS-Protection: 1; mode=block";
    more_set_headers "X-Frame-Options: DENY";
    more_set_headers "X-Content-Type-Options: nosniff";

    rewrite ^/admin$ /admin/ permanent;

    location /admin/assets/ {
      {{^_development_env?}}
        more_set_headers "Cache-Control: public, max-age=31536000, immutable";
        alias {{_embedded_root_dir}}/apps/core/current/build/dist/admin-ui/assets/;
      {{/_development_env?}}
      {{#_development_env?}}
        proxy_pass http://127.0.0.1:{{ember_server.port}};
      {{/_development_env?}}
    }

    {{#_test_env?}}
      location ~ ^/admin($|/$|/index\.html) {
        more_set_headers "Cache-Control: no-cache, max-age=0, must-revalidate, no-store";
        more_set_headers "Pragma: no-cache";
        alias {{_test_env_install_dir}}/admin-ui/$1;
      }
    {{/_test_env?}}

    location ~ ^/admin($|/$|/index\.html|/fonts/.+|/maps/.+|/ember.+) {
      {{^_development_env?}}
        more_set_headers "Cache-Control: no-cache, max-age=0, must-revalidate, no-store";
        more_set_headers "Pragma: no-cache";
        alias {{_embedded_root_dir}}/apps/core/current/build/dist/admin-ui/$1;
      {{/_development_env?}}
      {{#_development_env?}}
        proxy_pass http://127.0.0.1:{{ember_server.port}};
      {{/_development_env?}}
    }

    location /web-assets/ {
      more_set_headers "Cache-Control: public, max-age=31536000, immutable";
      alias {{_embedded_root_dir}}/apps/core/current/build/dist/web-assets/;
    }

    location / {
      default_type text/html;
      content_by_lua_block {
        local app = require "api-umbrella.web-app.app"
        require("lapis").serve(app)
      }
    }
  }
}
