  upstream puma {
    server unix://{{run_dir}}/web-puma.sock;
  }

  server {
    listen {{web.host}}:{{web.port}};

    # set $x_api_umbrella_request_id $http_x_api_umbrella_request_id;
    root {{web.dir}}/public;

    # Security headers
    # https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#tab=Headers
    more_set_headers "X-XSS-Protection: 1; mode=block";
    more_set_headers "X-Frame-Options: DENY";
    more_set_headers "X-Content-Type-Options: nosniff";

    rewrite ^/admin$ /admin/ permanent;

    location /admin/assets/ {
      {{^_development_env?}}
        more_set_headers "Cache-Control: public, max-age=31536000, immutable";
        alias {{_embedded_root_dir}}/apps/core/current/build/dist/admin-ui/assets/;
      {{/_development_env?}}
      {{#_development_env?}}
        proxy_pass http://127.0.0.1:{{ember_server.port}};
      {{/_development_env?}}
    }

    location ~ ^/admin($|/$|/index\.html|/fonts/.+|/maps/.+|/ember.+) {
      {{^_development_env?}}
        more_set_headers "Cache-Control: no-cache, max-age=0, must-revalidate, no-store";
        more_set_headers "Pragma: no-cache";
        alias {{_embedded_root_dir}}/apps/core/current/build/dist/admin-ui/$1;
      {{/_development_env?}}
      {{#_development_env?}}
        proxy_pass http://127.0.0.1:{{ember_server.port}};
      {{/_development_env?}}
    }

    {{^_development_env?}}
    location /web-assets/ {
      more_set_headers "Cache-Control: public, max-age=31536000, immutable";
      alias {{_embedded_root_dir}}/apps/core/current/build/dist/web-app-public/web-assets/;
    }
    {{/_development_env?}}

    location / {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_pass http://puma;
    }
  }
