<h1>Publish Configuration Changes</h1>

<div class="row-fluid">
  <div class="span4 offset4">
    <p>
      <strong>Last Change:</strong> <%= ConfigVersion.last_change %><br>
      <strong>Last Publish:</strong> <%= ConfigVersion.last_version %>
    </p>

    <% if(ConfigVersion.needs_publishing?) %>
      <%= form_tag(admin_config_publish_path, :class => "text-center") do %>
        <button type="submit" id="publish_button" class="btn btn-large btn-primary" data-loading-text="<i class='icon-refresh icon-spin'></i> Publishing...">Publish</button>
      <% end %>
      <%= javascript_tag do %>
        var button = $('#publish_button');
        $('form').submit(function(e) {
          button.button('loading');
        });
      <% end %>
    <% else %>
      <div class="alert alert-success">
        The published configuration is already up to date.<br>
        No need to publish.
      </div>
    <% end %>
  </div>
</div>
