<ul>
  <li class="<%= "active" if(current_page.url == "/docs/architecture/") %>">
    <a href="/docs/architecture/">Architecture</a>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/api-keys/") %>">
    <a href="/docs/api-keys/">API Keys</a>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/backend-headers/") %>">
    <a href="/docs/backend-headers/">Backend HTTP Headers</a>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/caching/") %>">
    <a href="/docs/caching/">Caching</a>
  </li>
</ul>
