<% wrap_layout :layout do %>
  <div class="container">
    <div class="row">
      <nav class="col-md-3">
        <%= partial "layouts/nav" %>
      </nav>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
