<h1>API Backends</h1>

<div class="button-actions button-actions-down">
  {{#link-to "apis.new" class="btn btn-primary"}}<i class="fa fa-plus"></i> Add API Backend{{/link-to}}
</div>

{{apis/index-table}}
