<h1>API Backends</h1>

<div class="button-actions button-actions-down">
  <LinkTo @route="apis.new" class="btn btn-primary"><FaIcon @icon="plus" /> Add API Backend</LinkTo>
</div>

<Apis::IndexTable />
