<style type="text/css">
  p, li, pre {
    font-size: 15px;
  }

  code.signup-key {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 32px;
    background-color: #f7f7f9;
    border: 1px solid  #e1e1e8;
    display: inline-block;
    color: #dd1144;
    padding: 2px 4px;
  }

  pre {
    background-color: #f7f7f9;
    border: 1px solid  #e1e1e8;
    padding: 2px 4px;
    word-break: break-all;
    word-wrap: break-word;
  }

  h2 {
    font-size: 18px;
  }

  .signup-footer {
    margin-top: 32px;
    font-size: 12px;
    background-color: #f5f5f5;
    color: #555;
    padding: 2px 4px;
  }

  .signup-footer p {
    color: #555;
    font-size: 12px;
    margin: 0px 0px 8px 0px;
    padding: 0px;
  }
</style>

<p>Hi <%= @user.first_name %>,</p>

<%= render("accounts/welcome") %>
