---
title: Home
disable_breadcrumbs: true
disable_in_breadcrumbs_trail: true
---

<div class="jumbotron">
  <h1>Your API Site Name</h1>
  <p class="lead text-muted">Powered by API Umbrella, an open-source API management platform.</p>
</div>

<div class="row">
  <div class="col-md-6 feature feature-doc">
    <h2><a href="/docs">Web Service Documentation</a></h2>
    <p>Explore our available Web services.</p>
    <ul>
      <% sitemap.find_resource_by_destination_path("/docs/index.html").children.sort_by { |p| p.data.title.to_s }.each do |child| %>
        <% next if(child.data.hidden_child || child.data.title.to_s.blank?) %>
        <li><%= link_to(child.data.title, child) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6 feature feature-key">
    <h2><a href="/signup">API Key</a></h2>
    <p>Sign up to use our APIs.</p>
    <ul>
      <li><a href="/signup">Get an API Key</a></li>
    </ul>
  </div>
</div>
