<div id="error_messages">
  {{#if messages.length}}
    <div class="alert alert-error error-messages">
      <h4>Oops! Please check the errors below:</h4>
      <ul>
        {{#each messages}}
          <li>{{{.}}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
