<h1>Admins</h1>

{{#if this.currentAdmin.permissions.admin_manage}}
  <div class="button-actions button-actions-down">
    <LinkTo @route="admins.new" class="btn btn-primary"><FaIcon @icon="plus" /> Add New Admin</LinkTo>
  </div>
{{/if}}

<Admins::IndexTable />
