<div class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{title}}</h3>
  </div>

  {{outlet modalBody}}
</div>
