header {
  background-color: #333;
}

body, input, textarea {
  font-family: "Arial", "Helvetica", sans-serif;
}

.input {
  margin-top: 24px;
}

.input label {
  display: block;
  font-weight: bold;
  color: #444;
}

.hint {
  display: block;
  clear: left;
  color: #777;
  font-size: 93%;
  padding-top: 2px;
}

input.string,
textarea {
  padding: 2px 3px;
}

input.string,
textarea,
select {
  font-size: 116%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea.editor {
}
