body {background-color:#fff;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:normal;color:#000;margin:0;padding:0;border:0;padding-bottom:25px;min-width:1000px;}

/* Page Structure */	
#wrapper {width:1000px;margin:0 auto;}

#nrelheader {width:100%;background-color:#fff;}
#topnav {width:100%;background-color:#004f99;border:0;margin:0;padding:0;}
#sitehead_search {width:100%;height:64px;}

/* no navigation - 1 column */
#content-nonav {margin:0 50px 0 32px;}
#content-popup {margin:25px;}

/* menu & site home pages - 3 columns */
#content-menu {float:left;margin:0;padding:0;display:inline;width:794px;}
#column-center-menu {float:right;margin:0;padding:20px 10px 0 4px;display:inline;width:72%;}
#column-right {float:left;margin:10px -204px 0 0;padding:0;width:204px;position:relative;}

/* site home pages - 2 columns */
#content-noright {float:left;margin:0;margin-right:50px;padding:0;display:inline;width:948px;}
#column-center-noright {float:right;margin:0;padding:20px 0 0 4px;display:inline;width:738px;}

/* regular/2nd level pages w/ left nav - 2 columns */
#content {float:left;margin:0;margin-right:50px;padding:0;display:inline;background-image:url(/images1/ln_spacer_gray.gif);background-repeat:repeat-y;height:100%;width:949px;}
#column-center {float:right;margin:0;padding:0;padding-left:4px;display:inline;width:738px;}

/* centersite/2nd level pages w/ left nav - 2 columns */
#content-centersite {float:left;margin:0;padding:0;display:inline;background-image:url(/images1/ln_spacer_gray.gif);background-repeat:repeat-y;height:100%;width:1000px;}
#column-centersite {float:right;margin:0;margin-right:4px;padding:0;padding-left:4px;display:inline;width:788px;}

/* left column is the same for both 2 & 3 column pages */
#column-left {float:left;margin:0;padding:0 4px 0 0;display:inline;width:200px;}


/* Site Headers */
#siteheader {float:left;width:794px;border-top:2px solid #fff;}

/* Search Box */
#searchbox {float:right;width:204px;background-color:#004f99;border-left:2px solid #fff;padding:0 0 5px 0;margin:0;display:block;min-height:59px;}
#searchbox form {margin:0;padding:0;border:0;}
#searchbox input {background-color:#fff;margin:3px 0 5px 10px;padding:0;}
#searchbox .button {float:right;width:52px;height:18px;margin:0 10px 0 0;}
#searchbox p {color:yellow;font-size:85%;margin:0;padding:0 0 2px 10px;}
#searchbox p a:link, #searchbox p a:visited {color:#fff;text-decoration:none;}
#searchbox p a:hover {color:yellow;} 
#searchbox label, #searchoptions label {position:absolute;left:0;top:-500px;width:1px;height:1px;overflow:hidden;}

/* Footer */
#footer {padding-top:25px;}
#footer p {font-size:85%;color:#6D6D6D;margin:3px;padding-top:4px;text-align:center;}
#footer p.date {color:#9a9a9a;}
#footer p.poweredby {font-size:80%;}

/* Printable Versions */
#printable-top {font-size:84%;margin:5px 36px 16px;text-align:right;}
#printable-top-extranet {font-size:84%;margin:5px 0 16px;text-align:right;}
#printable-top-centersite {font-size:84%;margin:5px 4px 16px;text-align:right;}
#printable-bottom {font-size:84%;margin-top:16px;}

/* Printable Pages */
#print_page {width:60%;}
#print_page h2.site {color:#666;margin-bottom:10px;}
#print_footer {padding-top:24px;clear:both;}
#print_footer p {font-size:85%;color:#6D6D6D;margin:3px;padding-top:4px;text-align:center;}
#print_footer p.date {color:#9a9a9a;}
#print_footer p.poweredby {font-size:80%;}
/* Pubs Print Version */
#pubscontent {width:1000px;text-align:left;margin:0;padding:0;}

/* Left Navigation */
#navcontainer {margin-left:-1px;border-bottom:1px solid #fff;font-size:85%;color:#004f99;background-color:#eee;}
#navcontainer a:visited, #navcontainer a:hover {color:#004f99;}
/* main list - 1st levels */
#navcontainer ul {list-style-type:none;margin:0;padding:0;background-color:#eee;}
#navcontainer li {margin:0;padding:0;display:inline;}	
#navcontainer li img {display:block;}	
#navcontainer ul li a {display:block;width:180px;padding:3px 10px;text-decoration:none;font-weight:bold;margin:0;border:0;border-top:1px solid #fff;}
#navcontainer ul li a.top {border-top:0;}
#navcontainer ul li a:hover {background-color:#ccc;}
/* 2nd and 3rd levels 
#navcontainer ul ul, #navcontainer ul ul ul {padding:0;border-bottom:0;margin:0;}*/
/* 2nd levels */
#navcontainer ul ul li a {display:block;background-color:#eee;width:170px;padding:3px 10px 5px 20px;text-decoration:none;font-weight:normal;border:0;margin:0;}
#navcontainer ul ul li a:hover {background-color:#ccc;}
/* 3rd levels */
#navcontainer ul ul ul li a {width:161px;background-image:url(/images/ln_dash_3rdlevel.gif);background-repeat:no-repeat;padding-left:2.70em;text-indent:-.3em;}
/* selected states */
#navcontainer ul li a#current {background-color:#ccc;color:#004f99;}	
/* home link */
#navcontainer ul li #home {width:171px;font-weight:normal;background-image:url(/images/ln_arrow_2ndlevel.gif);background-repeat:no-repeat;padding-left:1.75em;text-indent:-.4em;}
/* last nav item
#navcontainer .last{display:block;width:200px;padding:0;margin:0;border-top:1px solid #fff;} */

/* Extranet Home Link */
#home-extranet {font-size:80%;background-image:url(/images/ln_arrow_2ndlevel_nonav.gif);background-repeat:no-repeat;padding-left:1.1em;text-indent:-.4em;}

/* Document DB Home & Doc Links */
#home-docdb {font-size:80%;background-image:url(/images/ln_arrow_2ndlevel_nonav.gif);background-repeat:no-repeat;padding-left:1.1em;text-indent:-.4em; margin:0;}
#nav-docdb {font-size:80%;text-align:right;}

/* BOXES */
/* main box code, the same for all boxes, do NOT change */
/* gray background w/ gray border - override the classes marked "background" with inline styles to change */
.boxtop, .boxbottom {display:block;background:transparent;font-size:1px;}
.boxb1, .boxb2, .boxb3, .boxb4 {display:block;overflow:hidden;}
.boxb1, .boxb2, .boxb3 {height:1px;}
.boxb2, .boxb3, .boxb4 {background:#eee;border-left:1px solid #ccc;border-right:1px solid #ccc;} /* background */
.boxb1 {margin:0 5px;background:#ccc;}
.boxb2 {margin:0 3px;border-width:0 2px;}
.boxb3 {margin:0 2px;}
.boxb4 {height:2px; margin:0 1px;}
.boxmiddle {display:block;background:#eee;border:0 solid #ccc;border-width:0 1px;text-align:left;} /* background */
/* classes to control padding and alignment -- use inline style to change other treatments */
.graphical_header {margin-bottom:6px;} /* for boxes that use a graphical header */
.boxcontent {background:transparent;margin:0 6px 0 10px;}
.boxcontent p, .boxcontent ul, .boxcontent ol, .boxcontent dl {padding-bottom:6px;margin:0;}
.boxcontent blockquote {padding:6px 6px 6px 14px;margin:0;}
.boxcontent li {margin-left:-24px;}
/* IE HACKs - keeps the bullet items lined up with the left margin */
* html .boxcontent li {margin-left:18px;} /*IE6*/  *+html .boxcontent li {margin-left:18px;} /*IE7*/

/* generic callout box code, the same for all callout boxes, do NOT change */
#callout_box {width:30%;float:right;margin:8px 0 8px 4px;} /* default width & float -- use inline style to change  */
.callout, .calloutwide {width:250px;margin:15px 0 15px 15px;float:right;padding:8px;position:relative;color:#000;background-color:#f1f1f1;border:1px solid #ccc;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
.calloutwide { width:90%;margin-left:0px;float:none; }
.alert {border:1px solid #d41f00;background:#fff8f5;color:#d41f00} /* alert style callout box for applications */

/* classes for splitting content into 2 columns */
.split {width:100%;margin:0;}
.splitleft {float:left;width:50%;}
.splitright {float:right;width:50%;}

/* Left Nav Box*/
/* menu & site home pages left nav boxes - gray background w/ gray border */
#leftnav_box {width:100%;margin-top:10px;padding:0;font-size:90%;}
#leftnav_box ul {list-style-type:none;margin:0;padding:2px 3px 2px 6px;}
#leftnav_box li {font-weight:bold;padding:6px 0 6px 0;}
#leftnav_box a:link, #leftnav_box a:visited {color:#004f99;text-decoration:none;}
#leftnav_box a:hover {color:#C60;text-decoration:none;} 
#leftnav_box .boxb2, #leftnav_box .boxb3, #leftnav_box .boxb4 {background:#eee;}
#leftnav_box .boxmiddle {background:#eee;}

/* Right Column */
/* menu & site home pages right column boxes (News, Events, Resources only) - gray background w/ gray border */
#rightcol_box {width:204px;margin:0;padding:0;padding-bottom:10px;border-left:2px solid #fff;}
#rightcol_box .boxb2, #rightcol_box .boxb3, #rightcol_box .boxb4 {background:#eee;}
#rightcol_box .boxmiddle {background:#eee;font-size:85%;}
#rightcol_box ul {list-style-type:none;padding:2px 2px 2px 6px;margin:0;}
#rightcol_box li {font-weight:bold;padding:2px 0 1px 0;}
#rightcol_box a:link, #rightcol_box a:visited {color:#004f99;text-decoration:none;}
#rightcol_box a:hover {color:#C60;text-decoration:none;}
#rightcol_box p.headline {font-weight:bold;margin-bottom:0;padding:5px 6px 0 10px;}
#rightcol_box p.date {color:#666;margin-bottom:10px;padding:0 5px 0 10px;}
#rightcol_box p.more {text-align:right;margin-bottom:0;padding:0 5px 10px 0;}
#rightcol_box p.follow {color:#444;margin-bottom:0;padding:3px 0 3px 10px;}
#rightcol_box p.social {font-weight:bold;font-size:90%;margin-bottom:0;padding:0 5px 0 10px;}
#rightcol_box img.floatleft {padding:3px 5px 5px 0;margin:0;}

/* Features */
#feature {float:left;display:inline;width:204px;margin:0;padding:0;border-left:2px solid #fff;}
#feature img {display:block;margin:0;margin-bottom:5px;padding:0;border:0;width:204px;}

/* Support Box */
/* program site home pages "support" boxes - gray background w/ gray border */
/* "NREL's ___ research supports the U.S. Department of Energy's _______ Program." */
#support_box  {margin-top:10px;}
#support_box p, #support_box li {font-size:85%;}
#support_box .boxb2, #support_box .boxb3, #support_box .boxb4 {background:#eee;} /* background */
#support_box .boxmiddle {background:#eee;} /* background */

/* Events  */
div.event {margin:0 0 0 0;padding:12px 0 12px 0;border-bottom:1px dashed #ddd;}
div.event h3 a:link, div.event h3 a:visited  {text-decoration:none;}
div.event h3 a:hover {text-decoration:underline;}
div.event h4 {font-size:95%;}
h2.eventmonth {margin:4px 0 0 0;background-color:#eee;padding:3px;}



/* Generic */
p {text-align:left;margin-top:0;}

b, strong {font-weight:bold;}
i, em {font-style:italic;}

sub {font-size:smaller;vertical-align:sub;line-height:1px;}
sup {font-size:smaller;vertical-align:super;line-height:1px;}

ul, ol, dl {margin-top:0;}
li, dt, dd {margin-bottom:0;}
dt {font-weight:bold;}
dd {margin-bottom:12px;}
#anchorlist li {margin-top:0;margin-bottom:0;margin-left:-20px;}

/* classes for lists in menu callout boxes */
ul.menu {list-style-type:none;}

/* classes for lists to use an arrow as the bullet */
ul.arrowlist {list-style-image:url(/images/arrow_gray_r4x7.gif);}
.arrowlist li {padding-bottom:5px;margin-left:-24px;}

/* Alpha Anchor Links */
.alpha_anchors {font-size:75%;text-align:center;}

hr {color:#CCC;}

.small {font-size:70%;}
.med {font-size:80%;}
.reg {font-size:100%;}
	
.notop {margin-top:0;}
.nobottom {margin-bottom:0;}
.nomargin {margin:0;}

.alignright {text-align:right;font-size:80%;}

.hide {position:absolute;left:0;top:-500px;width:1px;height:1px;overflow:hidden;}

/* Links */
a:link {color:#004f99;}
a:visited, a:hover {color:#C60;}

a.noline:link, a.noline:visited {color:#004f99;text-decoration:none;}
a.noline:hover {color:#C60;text-decoration:none;}

/* Titles */
h1 {font-size:140%;font-weight:bold;color:#C60;margin:0;}
h2 {font-size:116%;font-weight:bold;color:#C60;margin:0;}
h3 {font-size:105%;font-weight:bold;margin:0;}
h4 {font-size:100%;font-weight:bold;color:#4E4E4E;margin:0;}

h2.app {color:#666;margin-bottom:10px;}

h2 a:link, h2 a:visited {text-decoration:none;color:#C60;}
h2 a:hover {text-decoration:none;color:#004f99;}
/* Make the arrows after H2 links change color  */
h2 a img {background:url(/images/arrow_orange_blue_r10x9.gif) 0 0 no-repeat;}
h2 a:hover  img {background-position:-5px 0;}
h2 a:active img {background-position:0 0;}

h3 a:link, h3 a:visited {text-decoration:none;color:#000;}
h3 a:hover {text-decoration:none;color:#004f99;}
/* Make the arrows after H3 links change color  */
h3 a img {background:url(/images/arrow_black_blue_r8x7.gif) 0 0 no-repeat;}
h3 a:hover  img {background-position:-4px 0;}
h3 a:active img {background-position:0 0;}

/* Text Version Link */
.textversion {text-align:right;font-size:80%;}

/* Back to Top Anchor Link */
.backtotop {text-align:right;font-size:80%;}
.backtotop a:link, .backtotop a:visited {color:#C60;}
.backtotop a:hover {color:#004f99;} 

/* Images */
img {border:0;}	
img.border {border:1px solid #999;}	
.floatright {float:right;position:relative;margin:2px 0 5px 5px;}
.floatleft {float:left;position:relative;margin:2px 5px 10px 0;}
.caption {font-size:85%;margin-top:0;}
img.rss, img.pdf {vertical-align:middle;}

/* Data Tables */
table.data {border-top:1px solid #CCC;border-left:1px solid #CCC; font-size:.95em;margin-bottom:12px;}
caption {font-size:.9em; font-weight:bold;}
table.data td {border-right:1px solid #CCC;border-bottom:1px solid #CCC;}
tr.gray	{background-color:#EEE;}
table.data th {border-right:1px solid #CCC;border-bottom:1px solid #CCC;}

/*  Forms */
form {margin:0;}
form fieldset {margin-bottom:10px;}
form legend {font-size:115%;font-weight:bold;color:#C60;}
.required {color:#900;}



/* Special */
/* Fixme! */
.fixme {background-color:#FF0;}

