#disqus_thread {
  border-top: 2px solid #ddd;
  margin-top: 3em;
  padding-top: 1em;
}

h2, h3 {
  margin-top: 12px;
}

.toc {
  border: 1px solid #e2e2e2;
  background-color: #f7f7f7;
  color: #999;
  float: left;
  padding: 10px 0px;
}

.toc ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.toc a:visited {
  color:#004f99;
}

.doc-service-url {
  color: #222;
  font-size: 108%;
  font-weight: bold;

  font-family: "Courier New", "Courier", "Terminal", monospace;
  background-color: #f5f9ff;
  border: 1px solid #eeeeff;
  margin: 5px 0px;
  padding: 2px 5px;
  word-wrap: break-word;
}

.doc-service-url em {
  color: #666;
}

.doc-parameters {
  width: 100%;
  color: #333;
}

.doc-parameter-unemphasized {
  color: #888;
}

.doc-parameter-value-field strong {
  color: #555;
  font-size: 93%;
}

.doc-parameters th,
.doc-parameters td {
  text-align: left;
  padding: 8px;
}

.doc-parameters tbody tr:hover th,
.doc-parameters tbody tr:hover td {
  background-color: #f7f7f7;
}

.doc-parameters-name {
  width: 180px;
}

.doc-parameters-required {
  width: 56px;
}

.doc-parameters-value {
  width: 180px;
}

.doc-parameter-options {
  width: 100%;
}

.doc-parameter-options {
  outline-style: none;
}

.doc-parameter-options tbody tr {
  border-style: none;
}

.doc-parameter-options th,
.doc-parameter-options td {
  border-style: none;
  padding: 1px 15px 1px 2px;
}

.doc-parameter-options thead tr {
  background: transparent;
}

.doc-parameter-options thead th {
  background: transparent;
  text-shadow: none;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.doc-parameter-options tbody th {
  font-weight: normal;
  font-style: italic;
}

.doc-parameter-options tbody th,
.doc-parameter-options tbody td {
  border-style: none;
}

.doc-example-url {
  color: #222;
  font-family: "Courier New", "Courier", "Terminal", monospace;
  background-color: #f5f9ff;
  border: 1px solid #eeeeff;
  padding: 2px 5px;
  word-wrap: break-word;
}

div.doc-example-url {
  margin: 5px 0px;
}

#disqus_thread {
}

.highlight-code {
  overflow: auto;
  width: 100%;
  margin-bottom: 1em;
}

.highlight-code table {
  margin-bottom: 0px;
}

.highlight-code::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}

.highlight-code::-webkit-scrollbar-track-piece {
  margin-bottom:10px;
  background-color:#e5e5e5;
  border-bottom-left-radius:4px 4px;
  border-bottom-right-radius:4px 4px;
  border-top-left-radius:4px 4px;
  border-top-right-radius:4px 4px;
}
.highlight-code::-webkit-scrollbar-thumb:vertical {
  height:25px;
  background-color:#ccc;
  -webkit-border-radius:4px;
  -webkit-box-shadow:0 1px 1px rgba(255,255,255,1);
}

.highlight-code::-webkit-scrollbar-thumb:horizontal {
  width:25px;
  background-color:#ccc;
  -webkit-border-radius:4px;
}

pre, code, kbd, samp, tt, pre span {
  font-family: monospace;
  line-height: 100%;
}
