.highlighttable {
  border: 1px solid #eeeeff;
  width: 100%;

  .code {
    background-color: #f5f9ff;
  }

  td, th {
    padding: 0.5em;
    border-style: none;
  }

  pre {
    margin: 0px;
    color: inherit;
    font-size: 13px;
    word-break: normal;
    word-spacing: 0px;
    word-wrap: normal;
    white-space: pre;
    padding: 0px;
    border-style: none;
    background-color: transparent;
  }

  .linenos {
    width: 8px;
    background-color: #def;
    color: gray;
    text-align: right;
  }
}
