{{#elasticsearch._api_version_lte_2?}}
ES_HEAP_SIZE={{elasticsearch.embedded_server_env.heap_size}}
ES_JAVA_OPTS=-Des.default.path.conf={{etc_dir}}/elasticsearch -Dmapper.allow_dots_in_name=true -XX:-HeapDumpOnOutOfMemoryError {{elasticsearch.embedded_server_env.java_opts}}
{{/elasticsearch._api_version_lte_2?}}
{{^elasticsearch._api_version_lte_2?}}
ES_PATH_CONF={{etc_dir}}/elasticsearch
ES_JAVA_OPTS=-Xms{{elasticsearch.embedded_server_env.heap_size}} -Xmx{{elasticsearch.embedded_server_env.heap_size}} -XX:+UseConcMarkSweepGC -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -XX:+AlwaysPreTouch -server -Xss1m -Djava.awt.headless=true -Dfile.encoding=UTF-8 -Djna.nosys=true -XX:-OmitStackTraceInFastThrow -Dio.netty.noUnsafe=true -Dio.netty.noKeySetOptimization=true -Dio.netty.recycler.maxCapacityPerThread=0 -Dlog4j.shutdownHookEnabled=false -Dlog4j2.disable.jmx=true -XX:+HeapDumpOnOutOfMemoryError {{elasticsearch.embedded_server_env.java_opts}}
{{/elasticsearch._api_version_lte_2?}}
