ES_JAVA_OPTS=-Des.default.path.conf={{etc_dir}}/elasticsearch -Dmapper.allow_dots_in_name=true -XX:-HeapDumpOnOutOfMemoryError {{#_test_env?}}-Des.insecure.allow.root=true{{/_test_env?}}  {{elasticsearch.embedded_server_env.java_opts}}
ES_HEAP_SIZE={{elasticsearch.embedded_server_env.heap_size}}
