ES_JAVA_OPTS=-Xms{{elasticsearch.embedded_server_env.heap_size}} -Xmx{{elasticsearch.embedded_server_env.heap_size}} -Des.path.conf={{etc_dir}}/elasticsearch -Des.path.logs={{log_dir}}/elasticsearch -XX:-HeapDumpOnOutOfMemoryError {{elasticsearch.embedded_server_env.java_opts}}
