<p id="notice"><%= notice %></p>

<p>
  <b>Api key:</b>
  <%= @admin_api_user.api_key %>
</p>


<%= link_to 'Edit', edit_admin_api_user_path(@admin_api_user) %> |
<%= link_to 'Back', admin_api_users_path %>
