listen-address=127.0.0.1
port={{dnsmasq.port}}

keep-in-foreground
pid-file={{run_dir}}/dnsmasq.pid

log-queries
log-facility=-
log-async=25

cache-size=500

{{#_test_env?}}
# In the test environment redirect all *.ooga domain names to a local DNS
# server so we can use this fake TLD for implementing controlled tests.
server=/ooga/127.0.0.1#{{unbound.port}}
{{/_test_env?}}
