api-umbrella-agent.sources = kafka-source
api-umbrella-agent.channels = file-channel
api-umbrella-agent.sinks = hdfs-sink

# Use file storage for buffering data.
api-umbrella-agent.channels.file-channel.type = file
api-umbrella-agent.channels.file-channel.checkpointDir = {{db_dir}}/flume/file-channel/checkpoint
api-umbrella-agent.channels.file-channel.dataDirs = {{db_dir}}/flume/file-channel/data
api-umbrella-agent.channels.file-channel.use-fast-replay = true

# Pull data from Kafka (which rsyslog is pumping data into).
api-umbrella-agent.sources.kafka-source.type = org.apache.flume.source.kafka.KafkaSource
api-umbrella-agent.sources.kafka-source.channels = file-channel
api-umbrella-agent.sources.kafka-source.zookeeperConnect = 127.0.0.1:2181
api-umbrella-agent.sources.kafka-source.groupId = api-umbrella-flume
api-umbrella-agent.sources.kafka-source.topic = api_umbrella_logs

# Extract the timestamp_utc from the JSON data.
api-umbrella-agent.sources.kafka-source.interceptors = timestamp-extractor
api-umbrella-agent.sources.kafka-source.interceptors.timestamp-extractor.type = regex_extractor
api-umbrella-agent.sources.kafka-source.interceptors.timestamp-extractor.regex = "timestamp_utc": ?(\\d+)
api-umbrella-agent.sources.kafka-source.interceptors.timestamp-extractor.serializers = timestamp-serializer
api-umbrella-agent.sources.kafka-source.interceptors.timestamp-extractor.serializers.timestamp-serializer.type = org.apache.flume.interceptor.RegexExtractorInterceptorPassThroughSerializer
api-umbrella-agent.sources.kafka-source.interceptors.timestamp-extractor.serializers.timestamp-serializer.name = timestamp

# Write data to HDFS.
api-umbrella-agent.sinks.hdfs-sink.type = hdfs
api-umbrella-agent.sinks.hdfs-sink.channel = file-channel
api-umbrella-agent.sinks.hdfs-sink.hdfs.path = /apps/api-umbrella/logs-live/timestamp_tz_date=%Y-%m-%d/timestamp_tz_hour_minute=%H-%M
# Use "_" prefix for files currently being written to. This prevent Hive from
# picking these files up before they're fully written (otherwise, the partial
# gzip state results in invalid data).
api-umbrella-agent.sinks.hdfs-sink.hdfs.inUsePrefix = _
# Write compressed JSON files.
api-umbrella-agent.sinks.hdfs-sink.hdfs.fileType = CompressedStream
api-umbrella-agent.sinks.hdfs-sink.hdfs.codeC = gzip
api-umbrella-agent.sinks.hdfs-sink.hdfs.fileSuffix = .json.gz
# Write out the file ever 15 seconds.
api-umbrella-agent.sinks.hdfs-sink.hdfs.rollInterval = 15
api-umbrella-agent.sinks.hdfs-sink.hdfs.rollSize = 0
api-umbrella-agent.sinks.hdfs-sink.hdfs.rollCount = 0
api-umbrella-agent.sinks.hdfs-sink.hdfs.timeZone = {{analytics.timezone}}
