[hekad]
base_dir = "{{db_dir}}/heka"
share_dir = "{{_install_root_dir}}/embedded/share/heka"

[TcpInput]
address = "{{heka.host}}:{{heka.port}}"
splitter = "TokenSplitter"
decoder = "JsonDecoder"

[JsonDecoder]
type = "SandboxDecoder"
filename = "{{_src_root_dir}}/src/api-umbrella/heka/json_decoder.lua"

[es_payload]
type = "SandboxEncoder"
filename = "{{_src_root_dir}}/src/api-umbrella/heka/es_payload.lua"
    [es_payload.config]
    es_index_from_timestamp = true
    index = "api-umbrella-logs-v1-%{%Y-%m}"
    type_name = "log"

[ElasticSearchOutput]
message_matcher = "TRUE"
server = "{{elasticsearch._first_host}}"
flush_interval = 1000
flush_count = 10
encoder = "es_payload"
use_buffering = true
queue_max_buffer_size = 0
