http.server.host={{mora.host}}
http.server.port={{mora.port}}
mongod.api_umbrella.uri={{mongodb.url}}
mongod.api_umbrella.mode={{mongodb.read_preference}}
mongod.api_umbrella.timeout={{mora.timeout}}
