@import "compass/utilities/sprites";

/**
 * Navigation Sprite
 */
$nav-sprite-dimensions: true;
@import "nav/*.png";

@include all-nav-sprites;

.nav-community.current {
  @include nav-sprite(community_hover, false);
}

.nav-documentation.current {
  @include nav-sprite(documentation_hover, false);
}

.nav-home.current {
  @include nav-sprite(home_hover, false);
}

nav {
  @include nav-sprite(bg, false);
  background-repeat: repeat-x;
}


/**
 * Intro Boxes Sprite
 */
$boxes-sprite-dimensions: true;
$boxes-spacing: 500px;
@import "boxes/*.png";

.intro-box-doc {
  @include boxes-sprite(doc, false, 210px, 120px);
}

.intro-box-key {
  @include boxes-sprite(key, false, 210px, 120px);
}

.intro-box-community {
  @include boxes-sprite(community, false, 210px, 120px);
}

/**
 * Icons
 */
$icon-sprite-dimensions: true;
$icon-spacing: 64px;
$icon-arrow-orange-position: 100%;
@import "icon/*.png";
$icon-arrow-orange-position: 100%;

@include all-icon-sprites;
$icon-arrow-orange-position: 100%;

h2 a {
  padding-right: 10px;
  @include icon-sprite(arrow-orange, false, 100%, 5px);
}

h2 a:hover {
  @include icon-sprite(arrow-blue, false, 100%, 5px);
}
