<h1>API Backends</h1>

<div class="button-actions button-actions-down">
  <a href="#/apis/new" class="btn btn-primary"><i class="fa fa-plus"></i> Add API Backend</a>
</div>

<div id="results_table searchable-table-with-add">
  {{view Admin.ApisTableView}}
</div>
<div class="text-right">
  <button type="button" id="apis_reorder" class="btn btn-mini" {{action 'toggleReorderApis'}}><i class="fa fa-reorder"></i> <span class="reorder-button-text">Reorder</span></button>
</div>
