---
title: Architecture - Documentation - API Umbrella
header: Documentation
---

## Architecture

API Umbrella is a reverse proxy that sits between your API users and your APIs:

<div class="row text-center">
  <div class="col-md-12">
    <%= image_tag("../../images/docs/overview@2x.png", :width => 544, :height => 76, :class => "img-responsive img-center") %>
  </div>
</div>

### In More Detail

Click to enlarge:

<div class="row">
  <div class="col-md-6">
    <h4>Components</h4>
    <%= link_to(image_tag("../../images/docs/router.png", :width => 255, :height => 280), "/images/docs/router.png", :relative => true, :class => "image-link") %>
  </div>
  <div class="col-md-6">
    <h4>Gatekeeper</h4>
    <%= link_to(image_tag("../../images/docs/gatekeeper.png", :width => 183, :height => 310), "/images/docs/gatekeeper.png", :relative => true, :class => "image-link") %>
  </div>
</div>
