RAILS_ENV={{app_env}}
API_UMBRELLA_RUNTIME_CONFIG={{_api_umbrella_config_runtime_file}}
RAILS_TMP_PATH={{tmp_dir}}/web-app
RAILS_PUBLIC_PATH={{_embedded_root_dir}}/apps/core/current/build/dist/web-app-assets
