#!/usr/bin/env bash

if [ "${1}" = "start" ]; then
  api_umbrella_log_dir="{{log_dir}}"
  api_umbrella_user="{{user}}"

  # Set arguments for runtool.
  run_args=()
  if [ -n "$api_umbrella_user" ]; then
    run_args+=("-u" "$api_umbrella_user")
  fi

  # Set arguments for svlogd.
  log_dir="$api_umbrella_log_dir/${2}"
  log_args=("-ttt" "$log_dir")

  # Define a configuration file for svlogd to disable internal log rotation
  # (since we'll rely on the system and logrotated for that).
  printf 's0\nn0\n' > "$log_dir/config"

  exec runtool "${run_args[@]}" svlogd "${log_args[@]}"
fi

exit 0
