#!/usr/bin/env bash
set -e -u

# Redirect stderr to stdout
exec 2>&1

umask "{{umask}}"

if [ "${1}" = "start" ]; then
  api_umbrella_log_dir="{{log_dir}}"
  api_umbrella_user="{{user}}"
  api_umbrella_group="{{group}}"

  # Set arguments for runtool.
  run_args=()
  if [ -n "$api_umbrella_user" ]; then
    run_args+=("-u" "$api_umbrella_user")
  fi

  # Set arguments for svlogd.
  log_dir="$api_umbrella_log_dir/${2}"
  log_args=("-ttt" "$log_dir")

  # Create the log directory.
  dirs=("$log_dir")
  runtool mkdir -p "${dirs[@]}"
  chmod 750 "${dirs[@]}"
  if [ -n "$api_umbrella_user" ]; then
    chown $api_umbrella_user:$api_umbrella_group "${dirs[@]}"
  fi

  # Define a configuration file for svlogd to disable internal log rotation
  # (since we'll rely on the system and logrotated for that).
  printf 's0\nn0\n' | runtool tee "$log_dir/config"
  if [ -n "$api_umbrella_user" ]; then
    chown $api_umbrella_user:$api_umbrella_group "$log_dir/config"
  fi

  exec runtool ${run_args[@]+"${run_args[@]}"} svlogd "${log_args[@]}"
fi

exit 0
