#!/bin/sh

# Redirect stderr to stdout
exec 2>&1

if test ${1} = "start"; then
  echo "starting ${2}..."
  PATH="{{_test_env_install_dir}}/sbin:{{_test_env_install_dir}}/bin:$PATH"
  exec unbound -c {{etc_dir}}/test-env/unbound/unbound.conf
fi

exit 0
