<div id="results_table searchable-table-with-add">
  <table class="table table-striped table-bordered table-condensed"></table>
</div>
<div class="text-right">
  <button type="button" id="apis_reorder" class="btn btn-default btn-xs" {{action "toggleReorderApis"}}><i class="fa fa-reorder"></i> <span class="reorder-button-text">Reorder</span></button>
</div>
