KYLIN_HOME={{_embedded_root_dir}}/kylin
# HBase maxsize must be set higher in Kylin 1.5+ to avoid HBase KeyValue size
# too large errors.
KYLIN_CUSTOM_START_OPTS=-Dkylin.hbase.client.keyvalue.maxsize=30485760 -DKYLIN_CONF={{etc_dir}}/kylin
