#!/bin/sh

# Redirect stderr to stdout
exec 2>&1

if test ${1} = "start"; then
  echo "starting ${2}..."

  RUN_OPTS="-e rc.env"
  {{#user}}
  RUN_OPTS="$RUN_OPTS -u {{user}}"
  {{/user}}

  exec runtool $RUN_OPTS kylin.sh
fi

exit 0
