#!/usr/bin/env bash

# A script to start Kylin, but in the foreground. This is basically a copy of
# the normal Kylin start script
# (version 1.2: https://github.com/apache/kylin/blob/kylin-1.2/bin/kylin.sh),
# but modified so that it doesn't background the kylin process. This provides a
# perp-compatible way to start Kylin (since it requires foreground processes).
#
# We should see about submitting a "run" pull request to Kylin to provide
# foreground based starting directly in Kylin so we can get rid of this script.

dir="{{_embedded_root_dir}}/kylin/bin"
source ${dir}/check-env.sh
mkdir -p ${KYLIN_HOME}/logs

tomcat_root=${dir}/../tomcat
export tomcat_root

rm -rf ${tomcat_root}/webapps/kylin

spring_profile=`sh ${dir}/get-properties.sh kylin.security.profile`
if [ -z "$spring_profile" ]
then
  echo 'please set kylin.security.profile in kylin.properties, options are: testing, ldap, saml.'
  exit 1
else
  echo "kylin.security.profile is set to $spring_profile"
fi

source ${dir}/find-hive-dependency.sh
source ${dir}/find-hbase-dependency.sh
if [ -f "${dir}/setenv.sh" ]
  then source ${dir}/setenv.sh
fi

export HBASE_CLASSPATH_PREFIX=${tomcat_root}/bin/bootstrap.jar:${tomcat_root}/bin/tomcat-juli.jar:${tomcat_root}/lib/*:$HBASE_CLASSPATH_PREFIX
mkdir -p ${KYLIN_HOME}/ext
export HBASE_CLASSPATH=$hive_dependency:${KYLIN_HOME}/lib/*:${KYLIN_HOME}/ext/*:${HBASE_CLASSPATH}

exec \
  hbase \
  ${KYLIN_EXTRA_START_OPTS} \
  ${KYLIN_CUSTOM_START_OPTS} \
  -Djava.util.logging.config.file=${tomcat_root}/conf/logging.properties \
  -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager \
  -Dorg.apache.tomcat.util.buf.UDecoder.ALLOW_ENCODED_SLASH=true \
  -Dorg.apache.catalina.connector.CoyoteAdapter.ALLOW_BACKSLASH=true \
  -Djava.endorsed.dirs=${tomcat_root}/endorsed  \
  -Dcatalina.base=${tomcat_root} \
  -Dcatalina.home=${tomcat_root} \
  -Djava.io.tmpdir=${tomcat_root}/temp  \
  -Dkylin.hive.dependency=${hive_dependency} \
  -Dkylin.hbase.dependency=${hbase_dependency} \
  -Dspring.profiles.active=${spring_profile} \
  org.apache.hadoop.util.RunJar ${tomcat_root}/bin/bootstrap.jar org.apache.catalina.startup.Bootstrap start
