<div id="content" class="grid_12">

<h1>Web Service Rate Limits</h1>
<p>Limits are placed on the number of NREL Web service requests you may make using your API key.</p>

<ul>
  <li><strong>Hourly Limit:</strong> 1,000 requests per hour</li>
  <li><strong>Daily Limit:</strong> 10,000 requests per calendar day</li>
</ul>

<p>For each API key, these limits are applied across all NREL Web services requests. Exceeding these limits will lead to your API key being temporarily blocked from making further requests. Depending on the limit exceeded, the block will be lifted automatically by waiting until the next hour or calendar day.</p>

<h2>Understanding Rate Limit Time Periods</h2>
<h3>Hourly Limit</h3>
<p>The hourly counters for your API key reset at the beginning of every hour.</p>
<p><em>Example:</em> If you started making requests at 10:00AM and made your 1,000th request of the hour at 10:40AM, your API key would become temporarily blocked. This temporary block of your API key would be lifted at 11:00AM, at which point you could make more web service requests (assuming you hadn't also exceeded your daily limit).</p>

<h3>Daily Limit</h3>
<p>The daily counters for your API key reset at midnight <%= link_to("UTC", "http://en.wikipedia.org/wiki/Coordinated_Universal_Time") %>.</p>
<p><em>Example:</em> If you started making requests at 00:00:00 UTC and made your 10,000th request of the day at 16:00:00 UTC, your API key would become temporarily blocked. This temporary block of your API key would be lifted at 00:00:00 UTC of the following day, at which point you could make more web service requests.</p>

<h2>Rate Limit Error Response</h2>
<p>If your API key exceeds the rate limits, you will receive a response with an HTTP status code of 503, Service Unavailable. The response body will contain an error message reading "503 Service Unavailable (Rate Limit Exceeded)." For example, a JSON request that has exceed the rate limits would respond with:</p>

<%= cached_highlight_code(:js, File.read("#{Rails.root}/app/views/pages/rate_limits_example_error.json")) %>

<p>For more details on how errors are returned, see the <%= link_to("general Web service errors", doc_errors_path) %>.</p>

<h2>Need Higher Limits?</h2>
<p>If you're building an application that needs higher rate limits, we'd be happy to work with you. <%= link_to("Contact us", contact_path) %> for more details.</p>

</div>
