.stats-drilldown-results-chart,
.stats-logs-results-chart {
  width: 100%;
  height: 220px;
  margin-top: 15px;
}

.stats-map-results-map {
  width: 100%;
  height: 400px;
  margin-top: 15px;
}

.toggle-facet-table {
  font-size: 11px;
}

.facet-table {
  font-size: 11px;
  text-align: left;

  th,
  td {
    padding: 2px !important;
  }

  th.value,
  td.value {
    text-align: right;
  }
}

#map_container {
  width: 640px;
  margin: 0px auto 20px auto;
}

.advanced-filter {
  .help-block {
    font-size: 85%;
    line-height: 110%;
    margin-top: 2px;
  }
}

.filter-times {
  text-align: right;
  margin-bottom: 8px;

  #interval_buttons {
    margin-right: 30px;
  }

  #reportrange {
    display: inline-block;
  }
}

.number-highlights {
  margin: 20px 0px;
}

.number-highlight {
  text-align: center;

  strong {
    font-size: 54px;
    line-height: 100%;
    font-weight: 100;
    display: block;

    .units {
      font-size: 28px;
      line-height: 100%;
    }
  }

  small {
    font-weight: bold;
    font-size: 14px;
  }
}

#filter_toggle .fa {
  width: 8px;
}

#filters_ui {
  max-width: 960px;

  #search_field {
    .input-append {
      display: block;

      .full-width-input,
      .full-width-submit {
        display: table-cell;
      }

      .full-width-input {
        width: 100%;
      }

      .full-width-input input {
        width: 100%;
        box-sizing: border-box;
        height: 26px;
      }
    }
  }
}
