.stats-drilldown-results-chart,
.stats-logs-results-chart {
  width: 100%;
  height: 220px;
  margin-top: 15px;
}

.stats-map-results-map {
  width: 100%;
  height: 400px;
  margin-top: 15px;
}

.toggle-facet-table {
  font-size: 11px;
}

.facet-table {
  font-size: 11px;
  text-align: left;

  th,
  td {
    padding: 2px !important;
  }

  th.value,
  td.value {
    text-align: right;
  }
}

#map_container {
  width: 640px;
  margin: 0px auto 20px auto;
}

.advanced-filter {
  .help-block {
    font-size: 85%;
    line-height: 110%;
    margin-top: 2px;
  }
}

.filter-times {
  text-align: right;

  #interval_buttons {
    display: inline-block;
    margin: 4px 30px 0px 0px;
  }

  #reportrange {
    display: inline-block;
  }
}

.number-highlights {
  margin: 20px 0px;
}

.number-highlight {
  text-align: center;

  strong {
    font-size: 54px;
    line-height: 100%;
    font-weight: 100;
    display: block;

    .units {
      font-size: 28px;
      line-height: 100%;
    }
  }

  small {
    font-weight: bold;
    font-size: 14px;
  }
}

#filter_toggle .fa {
  width: 8px;
}

#filters_ui {
  max-width: 960px;

  .filter-type-toggle {
    font-size: 12px;
    text-align: right;
  }

  #search_field {
    .input-append {
      display: block;

      .full-width-input,
      .full-width-submit {
        display: table-cell;
      }

      .full-width-input {
        width: 100%;
      }

      .full-width-input input {
        width: 100%;
        box-sizing: border-box;
        height: 26px;
      }
    }
  }
}

.query-builder {
  .btn-xs {
    font-size: 12px;
    padding: 1px 5px;
  }

  .rule-container input[type=number],
  .rule-container input[type=text],
  .rule-container select {
    font-size: 11px;
    height: 24px;
    margin: 0px;
    box-sizing: border-box;
    padding: 1px 3px;
  }

  .rule-container input[type=number] {
    width: 102px;
  }

  .rules-group-container {
    background: #edf5fc;
    background: rgba(237, 245, 252, 0.5);
    border-color: #96bedc;
  }
}
