@import "node_modules/tippy.js/dist/tippy";
@import "node_modules/tippy.js/themes/light-border";

.btn-link.btn-tooltip {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  vertical-align: baseline;
  font-size: inherit;
}

.col-form-label .btn-link.btn-tooltip {
  margin-left: 8px;
}

.tippy-box {
  text-align: left;
  word-break: break-word;
  min-width: 300px;
  font-weight: normal;

  p:last-child {
    margin-bottom: 0px;
  }
}

.tippy-box[data-theme~='wide'] {
  max-width: 700px;
}

.tippy-box[data-theme~='forced-wide'] {
  min-width: 400px;
  max-width: 600px;
}
