$text-color: #313131;

// Use the default bootstrap padding & heights, rather than the larger defaults
// from the Cerulean theme.
$padding-base-vertical: 6px;
$padding-large-vertical: 10px;
$modal-inner-padding: 15px;
