enabled true
remove-accept-encoding false
cache true
compressible-content-type application/atom+xml
compressible-content-type application/javascript
compressible-content-type application/json
compressible-content-type application/rss+xml
compressible-content-type application/x-javascript
compressible-content-type application/xml
compressible-content-type text/*
