#
# Storage Configuration file
#
#
# The storage configuration is a list of all the storage to
# be used by the cache.
#
#
#############################################################
# Using a file for the cache storage
#
# <pathname> <size>
#
# Where 'pathname' is full path to the directory where you want
# the cache-file to live and 'size' is size in bytes
#
# Example: 128MB cache file(/home/vagrant/ats/var/trafficserver/cache.db)
#      /home/vagrant/ats/var/trafficserver 128M
#
# Example: 144MB cache file(/home/vagrant/ats/var/trafficserver/cache.db)
#          assuming prefix of '/home/vagrant/ats'
#      var/trafficserver 150994944
#
# Example: 512MB cache file(/home/vagrant/ats/var/trafficserver/cache.db)
#          assuming prefix of '/home/vagrant/ats'
#      var/trafficserver 512M
#
#
#############################################################
##              O_DIRECT Specific Configuration            ##
#############################################################
#
# Examples: Using O_DIRECT on disks (Linux kernel >= 2.6.3,
# FreeBSD > 5.3)
#
#      /dev/sdb             # Linux
#      /dev/ada1            # FreeBSD
#
#
# Note that when using these raw devices in O_DIRECT mode, you
# do not need to specify the partition size. It's automatically
# detected. For more examples and a complete documentation see
# http://trafficserver.apache.org/docs/trunk/admin/configuration-files/storage.config
#
#
# A small default cache (256MB). This is set to allow for the regression test to succeed
# most likely you'll want to use a larger cache. And, we definitely recommend the use
# of raw devices for production caches.
var/trafficserver 256M
