@import "bootstrap";

abbr.required, .abbr-required {
  border-style: none;
  cursor: default;
  color: #E87723;
  font-family: "Verdana";
  font-size: 14px;
  font-weight: bold;
  font-weight: 1000;
}

label abbr.required, label .abbr-required {
  margin-left: 2px;
}

.required-fields {
  font-size: 93%;
  color: #555;
}

.required-fields .abbr-required {
  font-size: 12px;
}

// Parsley styles taken from defaults, minus green styling for successful
// inputs.
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 4px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in-;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.parsley-errors-list {
  color: #a94442;
}
