server:
  port: {{unbound.port}}
  interface: 127.0.0.1
  do-not-query-localhost: no
  do-daemonize: no
  chroot: ""
  username: ""
  logfile: ""
  log-queries: yes
  local-zone: "test." static
  domain-insecure: "test."
  private-domain: "test."
  directory: {{etc_dir}}/test-env/unbound
  include: {{etc_dir}}/test-env/unbound/active_test.conf
  pidfile: {{run_dir}}/test-env-unbound.pid

forward-zone:
  name: "."
  {{#dns_resolver._nameservers_unbound}}
  forward-addr: {{.}}
  {{/dns_resolver._nameservers_unbound}}

remote-control:
  control-enable: no
