<h1>API Backends</h1>

<div class="button-actions button-actions-down">
  <a href="#/apis/new" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add API Backend</a>
</div>

<div id="results_table searchable-table-with-add">
  {{view Admin.ApisTableView dataBinding='model.logs' queryBinding='query'}}
</div>
