<h1>APIs</h1>

<div class="button-actions">
  <a href="#/apis/new" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add New API</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each api in this}}
      <tr>
        <td>{{api.name}}</td>
        <td class="table-row-actions">
          {{#linkTo 'apis.edit' api._id}}<i class="icon-pencil"></i>Edit{{/linkTo}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
