# Data from https://github.com/rroemhild/docker-test-openldap/tree/master/bootstrap/data
dn: dc=planetexpress,dc=com
objectClass: top
objectClass: domain
dc: planetexpress

dn: ou=people,dc=planetexpress,dc=com
objectClass: top
objectClass: organizationalUnit
description: Planet Express crew
ou: people

dn: cn=Hermes Conrad,ou=people,dc=planetexpress,dc=com
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
cn: Hermes Conrad
sn: Conrad
description: Human
employeeType: Bureaucrat
employeeType: Accountant
givenName: Hermes
mail: hermes@planetexpress.com
ou: Office Management
uid: hermes
userPassword:: e3NzaGF9M3UzcUdCSmFMc2tiUEg0OVJrYlFtUk9HTktFb1lOUXZkU2lOZmc9P
 Q==
