dn: cn=config
objectClass: olcGlobal
cn: config
olcArgsFile: {{run_dir}}/test-env-slapd.args
olcPidFile: {{run_dir}}/test-env-slapd.pid

dn: cn=schema,cn=config
objectClass: olcSchemaConfig
cn: schema

include: file://{{_test_env_install_dir}}/etc/openldap/schema/core.ldif
include: file://{{_test_env_install_dir}}/etc/openldap/schema/cosine.ldif
include: file://{{_test_env_install_dir}}/etc/openldap/schema/inetorgperson.ldif

# Frontend settings
dn: olcDatabase=frontend,cn=config
objectClass: olcDatabaseConfig
objectClass: olcFrontendConfig
olcDatabase: frontend

#######################################################################
# LMDB database definitions
#######################################################################
dn: olcDatabase=mdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: mdb
olcSuffix: dc=planetexpress,dc=com
olcRootDN: cn=Manager,dc=planetexpress,dc=com
olcRootPW: secret
olcDbDirectory:	{{db_dir}}/test-env-openldap
olcDbIndex: objectClass eq
