body {
  padding-top: 60px;
}

.navbar .brand {
  font-weight: bold;
}

.crumbs {
  font-size: 85%;
  color: #3c4349;
  font-weight: bold;
  margin-bottom: 12px;
}

.crumbs a:link,
.crumbs a:visited {
  color: #3c4349;
}


ul.collection-list {
  margin: 0px;
}

ul.collection-list li {
  list-style-type: none;
  margin-bottom: 10px;
}

ul.collection-list ul {
  margin: 10px 0px 10px 40px;
}

ul.collection-list .collection-item {
  background-color: #e0e0e3;
  padding: 8px 16px;

  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;

  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

ul.collection-list .collection-actions {
  float: right;
}

.input {
  margin: 3px 0px;
}

.input label {
  font-weight: bold;
  margin-bottom: 2px;
}

.hint {
  display: block;
  clear: left;
  color: #777;
  font-size: 93%;
  padding-top: 2px;
}

textarea.editor {
}

input.fill,
textarea.fill {
  width: 100%;
}

.icon {
  width: 17px;
  height: 17px;
  display: block;
  float: left;
  text-indent: -9999px;
}

.button-actions {
  text-align: right;
  margin-bottom: 16px;
}

.button-actions-down {
  position: relative;
  height: 0px;
  margin: 0px;
  z-index: 999;
}

.select-mini {
  font-size: 11px;
  height: 22px;
  line-height: 22px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#results_table {
  overflow-x: auto;
}

#results_table .table th,
#results_table .table td {
  white-space: nowrap;
}

#results_table .table thead th {
  color: $linkColor;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc {
  background: none;
}

table.table thead .sorting:after,
table.table thead .sorting_asc:after,
table.table thead .sorting_desc:after {
  font-family: FontAwesome;
  color: #ddd;
  margin-left: 8px;
}

table.table thead .sorting_asc:after,
table.table thead .sorting_desc:after {
  color: $linkColor;
}

table.table thead .sorting:after {
  content: "\F0DC";
}

table.table thead .sorting_asc:after {
  content: "\F0DE";
}

table.table thead .sorting_desc:after {
  content: "\F0DD";
}

div.dataTables_info {
  padding: 0px;
  font-size: 13px;
  color: #666;
}

div.dataTables_paginate {
  text-align: center;
  float: none;
}

div.dataTables_length {
  text-align: right;

  label {
    float: none;
    font-size: 13px;
    color: #666;
  }

  select {
    font-size: 13px;
  }
}

div.dataTables_filter {
  label {
    float: left;
  }
}

.dataTables_wrapper {
  position: relative;
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 60px;
  margin-left: -125px;
  margin-top: -30px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 32px;
  line-height: 60px;
  background-color: white;
}

.loading-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 999;
}

.control-label {
  font-weight: bold;

  label {
    font-weight: bold;
    display: inline;
  }
}

.control-group {
  margin-top: 5px;
}

.form-horizontal .control-group {
  margin-bottom: 10px;
}

.form-horizontal.info .control-group {
  margin: 3px 0px 5px 0px;
}

.form-horizontal.info .control-label {
  padding-top: 0px;
}

.modal form {
  margin: 0px;
}

fieldset {
  margin: 24px 0px;
}

legend {
  margin-bottom: 2px;
  line-height: 26px;
}

.fieldset-note {
  font-size: 85%;
  color: #555;
  margin-bottom: 4px;
}

fieldset .table {
  margin-bottom: 4px;
}

.arrow {
  margin-top: 24px;
  text-align: center;
  color: #999;
  font-size: 10px;
  line-height: 10px;
}

.arrow i {
  color: #ddd;
}

.arrow-vertical {
  margin: 0px;
}

.arrow-vertical i {
  vertical-align: middle;
}

a {
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    text-decoration: none;
    margin-right: 3px;
  }
}

.table .table-row-actions {
  text-align: right;
  white-space: nowrap;

  a {
    margin-left: 24px;
  }

  a.remove-action {
    font-size: 12px;
    color: $red;
  }
}

.table-actions {
}

table input {
  margin-bottom: 0px !important;
}

.form-horizontal-wide {
  .control-label {
    width: 240px;
  }

  .controls {
    margin-left: 260px;
  }
}

legend a:hover {
  text-decoration: none;
}

a[data-toggle='collapse'] .icon-caret-down:before {
  width: 16px;
  text-align: center;
}

a[data-toggle='collapse'].collapsed .icon-caret-down:before {
  content: "\f0da";
}

a:hover {
  cursor: pointer;
}

.modal {
  width: 820px;
  margin-left: -410px;
}

.api-key {
  font-family: $monoFontFamily;
}

.selectize-control {
  width: 100%;
}

.selectize-dropdown {
  z-index: 9999;
}

.record-details {
  text-align: right;
  font-size: 11px;
  line-height: 13px;
  color: #777;
}

th.reorder-handle,
td.reorder-handle {
  display: none;
  width: 60px;
  text-align: center;
  cursor: move;
}

.reorder-active {
  th.reorder-handle,
  td.reorder-handle {
    display: table-cell;
  }
}

.reorder-placeholder th,
.reorder-placeholder td {
  background-color: $warningBackground !important;
}

.form-horizontal .ace_editor {
  height: 96px;
  border: 1px solid $inputBorder;
  @include border-radius($inputBorderRadius);
}

.control-group a[rel='tooltip'] {
  margin-left: 8px;
}

.qtip-bootstrap {
  font-size: 12px;
  max-width: 320px;

  pre {
    font-size: 11px;
    line-height: 15px;
  }
}

.qtip-wide {
  max-width: 600px;
}

.query-syntax-help .example {
  text-align: right;
}

.query-syntax-help td.example {
  font-style: italic;
  font-size: 11px;
}

.table-small {
  font-size: 13px;
}

.small-form {
  input {
    font-size: 12px;
    padding: 2px 4px;
  }

  .add-on {
    font-size: 12px;
    padding: 2px 5px;
  }

  select {
    font-size: 11px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.table th.text-center,
.table td.text-center {
  text-align: center;
}
