body {
  padding-top: 60px;
}

.navbar .brand {
  font-weight: bold;
}

.crumbs {
  font-size: 85%;
  color: #3c4349;
  font-weight: bold;
  margin-bottom: 12px;
}

.crumbs a:link,
.crumbs a:visited {
  color: #3c4349;
}


ul.collection-list {
  margin: 0px;
}

ul.collection-list li {
  list-style-type: none;
  margin-bottom: 10px;
}

ul.collection-list ul {
  margin: 10px 0px 10px 40px;
}

ul.collection-list .collection-item {
  background-color: #e0e0e3;
  padding: 8px 16px;

  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;

  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

ul.collection-list .collection-actions {
  float: right;
}

.input {
  margin-top: 24px;
}

.input label {
  display: block;
  font-weight: bold;
  color: #444;
}

.hint {
  display: block;
  clear: left;
  color: #777;
  font-size: 93%;
  padding-top: 2px;
}

textarea.editor {
}

input.fill,
textarea.fill {
  width: 100%;
}

.icon {
  width: 17px;
  height: 17px;
  display: block;
  float: left;
  text-indent: -9999px;
}

.button-actions {
  text-align: right;
  margin-bottom: 16px;
}

.select-mini {
  font-size: 11px;
  height: 22px;
  line-height: 22px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#results_table {
  overflow-x: auto;
}

#results_table .table td {
  white-space: nowrap;
}

#loading_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 999;
}
