.row-fluid {
  max-width: 1015px;
}

.container-fluid > .row-fluid {
  @include box-sizing(border-box);
  padding-left: 10px;
  padding-right: 10px;
}

header {
	height:60px;
  background-image:url('/assets/gsa/header-bg.jpg');
  background-repeat:no-repeat;
  background-position:center top;
}

div.crumbs {
  font-size: pxtoem(12px);
}

h1,h2,h3,h4,h5 {
  line-height: 1;
  margin-top: 0px;
}

h1 { font-size: pxtoem(23px); }
h2 { font-size: pxtoem(19px); }
h3 { font-size: pxtoem(15px); }
h4 { font-size: pxtoem(13px); }

.breadcrumb {
  background-color: transparent;
  padding: 15px 5px 0px 5px;
  margin-bottom: 5px;
}

.breadcrumb li {
  line-height: 1;
}

.breadcrumb,
.breadcrumb .divider,
.breadcrumb .active {
	color: #036;
}

.breadcrumb .divider {
  padding: 0px;
}

div#content {
}

.navbar {
  margin-bottom: 0px;
}

.navbar-inner {
	font-family: $altFontFamily;
  padding: 0px;
  border-style: none;
  @include border-radius(0px);
}

.navbar .nav {
	text-transform: uppercase;
	font-weight:bold;
}

.navbar .nav > li {
  border-left: 1px solid #255490;
  border-right: 1px solid #0f2544;
  font-size: pxtoem(12px);
}

.navbar .nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: $navbarHeight;
}

div#footer div#footer-menu ul.menu {
  font-size: pxtoem(12px);
}
