/* Stylesheet for Data.gov API on NREL */
body {
	font-size: 90%;
	background-image:url('/assets/gsa/page-gradient-bg.jpg');
    background-position:center top;
    background-repeat: repeat-y;
}

.clear {
    clear:both;
    }

/* Fonts, Colors, and General Sizes */

h1,h2,h3,h4,h5 {
    font-family:Georgia,"Times New Roman",Times,serif;
    color:#0a3163;
    margin-bottom:10px;
}
h1 {font-size:130%;}
h2 {font-size:115%;}
h3 {font-size:105%;}
h4 {font-size:95%;}

p, div, blockquote, span, font {
    color:#666;
    font-family:Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
}

p {padding-bottom:1.2em;}

em {font-style:italic;}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
	color:#3366ac;
    text-decoration:underline;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
    color:#4782b1;
}

.align-center {
	text-align:center;
}
.align-right {
	text-align:right;
}
.align-left {
	text-align:left;
}
.valign-middle {
	vertical-align:middle;
}
.valign-bottom {
	vertical-align:bottom;
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}
.box-shadow {
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}
.blue {
	color:#5c9ed0;
}
.navy {
	color:#036;
}
.red {
	color:#931414;
}
.white {
	color:#fff;
}

hr {
    height:26px;
    border:0;
    display:block;
    margin:0;
    padding:0;
    background:url('/assets/gsa/hr-bg.jpg') no-repeat center top;
}
.no-bullets {
    list-style:none;
}


/* PreHeader Area */
div#preheader { 
	background-color:#0a3163;
	background-image:url('/assets/gsa/preheader-bg.jpg');
	background-repeat:repeat-x;
	background-position:center top;
	height:20px;
	margin-bottom:20px;
	color:#fff;
}

div#whitehouse {
	display:block;
	float:left;
	color:#fff !important;
    font-family: "Lucida Bright","Times New Roman", Times, serif;
    font-size: 11px;
    margin: 2px 0 0 0;
    padding: 0;
    height:20px;
}

div#whitehouse img {
    vertical-align:top;
    padding-top:2px;
}

div#whitehouse p {
    display:inline-block;
    margin:0 !important;
    height:17px !important;
    line-height:17px !important;
    color:#fff !important;
    font-family: "Lucida Bright","Times New Roman", Times, serif;
    font-size: 11px !important;
}

div#share {
	display:block;
	float:right;
	padding: 2px 0 0 0;
	margin:0;
}

/*Content Wrapper */
div#main {
    background:#fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom:20px;
    padding-bottom:10px;
    }
/* Header Area */

div#header {
	height:60px;
    background-image:url('/assets/gsa/header-bg.jpg');
    background-repeat:no-repeat;
    background-position:center top;
}

div#logo {
  float: left;
    margin-top:2px;
    margin-bottom:0;
}

div#logo a.logo { 
	display:block;
	width:208px;
	height:55px;
	background:url('/assets/gsa/datagov-logo.png') no-repeat top left;
	text-indent:-9999;
	font-size:1px;
	line-height:999px;
    overflow:hidden;
}

/* Navigation Area */

div#navigation {
	height: 35px;
	line-height:35px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#fff;
	line-height:35px;
	background: #284a77; /* Old browsers */
    background: -moz-linear-gradient(top,  #284a77 0%, #0b3064 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#284a77), color-stop(100%,#0b3064)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #284a77 0%,#0b3064 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #284a77 0%,#0b3064 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #284a77 0%,#0b3064 100%); /* IE10+ */
    background: linear-gradient(top,  #284a77 0%,#0b3064 100%); /* W3C */
	}
	
div#navigation ul {
	line-height:35px;
	list-style-type:none;
}
div#navigation ul li {
	float:left;
	text-transform: uppercase;
    font-size:90%;
	font-weight:bold;
    border-left:1px solid #255490;
    border-right:1px solid #0f2544;
}
div#navigation ul li.first {
    border-left:0 solid transparent;
}
div#navigation ul li.last {
    border-right:0 solid transparent;
}
div#navigation ul li a {
	display:block;
    color:#fff;
    padding: 0 15px !important;
    height:35px;
   	line-height:35px;
    text-decoration:none;
}

div#navigation ul li a:active,
div#navigation ul li.current a,
div#navigation ul li a.current,
div#navigation ul li a:hover {
    background:#4782b1;
}

/* Content Area */
div#content {
  padding:15px 0;
}

div.feature {
    background:#eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0px solid transparent;
}

div.feature h2 {
    text-align:center !important;
    color:#931414;
    padding:10px;
    margin-top: 0px;
}

div.feature h2 a {
    color:#931414;
    text-decoration:underline;
}

div.feature p {
    padding: 0 10px 10px;
    font-size:90%;
}

div.feature ul {
  margin-bottom: 12px;
}

/* Sidebar Area */
div#sidebar {
	background:#fff;
    padding:15px 0;
}

/* Footer Area */
div#footer {
	text-align:center;
}
div#footer div#footer-menu {
    margin-bottom:15px;
}

div#footer div#footer-menu ul.menu {
	list-style-type:none;
	text-align:center;
    font-family:Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
    font-size:85%;
}

div#footer ul.menu li {
	display:inline;
	padding:0 15px;
    border-right:1px solid #666;
}

div#footer ul.menu li.last {
    border-right:0 solid transparent !important;
}

div#footer ul.menu li a { 
	text-decoration:none;
	color:#666;
}

div#footer ul.menu li a:hover,
div#footer ul.menu li a:focus { 
	text-decoration:underline;
}

/* Table Styles */
table {
	color:#222; 
	table-layout:auto; 
	border-collapse:collapse; 
	outline:1px solid #999; 
	margin-bottom:15px;
}
table thead {
	color:#fff;
}
table thead tr {
	background: #284a77; /* Old browsers */
    background: -moz-linear-gradient(top,  #284a77 0%, #0b3064 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#284a77), color-stop(100%,#0b3064)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #284a77 0%,#0b3064 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #284a77 0%,#0b3064 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #284a77 0%,#0b3064 100%); /* IE10+ */
    background: linear-gradient(top,  #284a77 0%,#0b3064 100%); /* W3C */
}
table th {
	padding:6px;
}
table tbody {}
table tbody tr {
	border-bottom:1px solid #ddd;
}
table tbody tr.even {
	background:#fff;
}
table tbody tr.odd {
	background:#eee;
}
table tbody tr:hover { }
table td {
	padding:6px;
}

/* Breadcrumbs */
div.crumbs {
	padding:0 0 0 5px;
	font-size: 80%;
	color: #036;
	margin-bottom:20px;
}
#breadcrumb a{
	font-weight: normal;
	color: #036;
}

/* Code Snippets */
/*
div.code { 
	display:block;
	border: 1px solid #eeeeff;
	background:#f5f9ff;
	padding:5px 6px;
	color:#333;
	word-wrap:break-word;
	font-family:"Courier New","Courier","Terminal",monospace;
	font-weight:bold;
	margin-bottom:15px;
}
div.code em {
	color:#666;
	font-style:italic;
	font-weight:normal;
}

*/
