{
  "mongodb": "mongodb://127.0.0.1:27017/api_umbrella_development",
  "redis": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "proxy": {
    "workers": 4,
    "port": 50000,
    "target": "localhost:50100"
  }
}
