<div class="busy-blocker" {{did-insert this.didInsert}} {{will-destroy this.willDestroyNode}} ...attributes>
  <div class="busy-blocker__bg"></div>
  <div class="busy-blocker__content">
    <div class="busy-blocker__animation"></div>
  </div>
</div>