<span ...attributes>
  {{#if this.tooltip}}
    <button type="button" class="btn btn-link btn-tooltip tooltip-trigger" data-tippy-content={{this.tooltip}}><FaIcon @icon="question-circle" /><span class="sr-only">Help</span></button>
  {{/if}}
</span>