<h1>Documentation</h1>

<div class="doc-service-list">
  <% @collections.each do |collection| %>
    <h2><%= link_to(collection.title, collection.url_path)  %></h2>
    <%= simple_format(collection.summary) %>
  <% end %>
</div>
