#!/bin/sh
# rc.log: perpd logger script for perpboot
# ===

### --- configure ---

## required:
LOGDIR={{log_dir}}/perpd
LOGOPTS="-ttt"
## suggested:

### --- script ---

## exec tinylog with privilege drop:
mkdir -p ${LOGDIR}
echo "s0\nn0" > ${LOGDIR}/config
exec \
  runchoom \
  svlogd ${LOGOPTS} ${LOGDIR}

### EOF
