#!/bin/sh

LOG_DIR="{{log_dir}}/perpd"
LOG_OPTS="-ttt"
LOG_CONFIG="s0\nn0"
RUN_OPTS=""
{{#user}}
RUN_OPTS="$RUN_OPTS -u {{user}}"
{{/user}}

mkdir -p $LOG_DIR
echo $LOG_CONFIG > $LOG_DIR/config
chmod 0755 $LOG_DIR
{{#user}}
chown -R {{user}}:{{group}} $LOG_DIR
{{/user}}

exec runtool $RUN_OPTS svlogd $LOG_OPTS $LOG_DIR
