#!/bin/sh -e
# rc.perp: perpd startup script for perpboot
# ===

### --- configure ---
PERPD_OPTS=""

### --- script ---

# Attempt to set hard limit values (if not root, this will generate a warning).
# The runlimit call below will set the soft values to the maximum hard limit
# allowed (regardless of whether root or not).
ulimit -Hn {{rlimits.nofile}} || true
ulimit -Hu {{rlimits.nproc}} || true

## exec perpd:
##   * options as configured above
##   * runchoom(8) abate linux oom-killer
##   * runlimit(8) configured in ./rlimit.conf
##   * PERP_BASE defined in environment by perpboot(8)
exec \
  runchoom \
  runlimit -F ./rlimit.conf \
  perpd ${PERPD_OPTS} ${PERP_BASE}

### EOF
