#!/usr/bin/env bash

# Redirect stderr to stdout
exec 2>&1

if [ "${1}" = "start" ]; then
  echo "starting ${2}..."
  api_umbrella_user="{{user}}"

  run_args=("-e" "rc.env")
  if [ -n "$api_umbrella_user" ]; then
    run_args+=("-u" "$api_umbrella_user")
  fi

  exec runtool "${run_args[@]}" "{{_embedded_root_dir}}/flume/bin/flume-ng" \
    agent \
    --name api-umbrella-agent \
    --conf "{{_embedded_root_dir}}/flume/conf" \
    --conf-file "{{etc_dir}}/flume.properties" \
    -Dflume.root.logger=INFO,console
fi

exit 0
