--protected
--private
--debug
--output-dir /srv/developer/devdev/docs
--markup markdown
--markup-provider kramdown
--template-path lib/yard_template
--asset doc/images:.
--files doc/**/*.md
app/**/*.rb
lib/**/*.rb
