#!/usr/bin/env bash
set -e -u

# Redirect stderr to stdout
exec 2>&1

umask "{{umask}}"

if [ "${1}" = "start" ]; then
  echo "starting ${2}..."
  api_umbrella_user="{{user}}"

  PATH="{{_test_env_install_dir}}/sbin:{{_test_env_install_dir}}/bin:$PATH"
  run_args=()
  if [ -n "$api_umbrella_user" ]; then
    run_args+=("-u" "$api_umbrella_user")
  fi

  exec runtool ${run_args[@]+"${run_args[@]}"} mailhog \
    -smtp-bind-addr "{{mailhog.bind_addr}}:{{mailhog.smtp_port}}" \
    -api-bind-addr "{{mailhog.bind_addr}}:{{mailhog.api_port}}" \
    -ui-bind-addr "{{mailhog.bind_addr}}:{{mailhog.ui_port}}"
fi

exit 0
