<h1>API Users</h1>

<div class="button-actions button-actions-down">
  <a href="#/api_users/new" class="btn btn-primary"><i class="fa fa-plus"></i> Add New API User</a>
</div>

<div id="results_table searchable-table-with-add">
  {{view Admin.ApiUsersTableView dataBinding='model.logs' queryBinding='query'}}
</div>
