#!/usr/bin/env bash
set -e -u

# Redirect stderr to stdout
exec 2>&1

umask "{{umask}}"

if [ "${1}" = "start" ]; then
  echo "starting ${2}..."
  api_umbrella_user="{{user}}"
  api_umbrella_group="{{group}}"
  db_dir="{{db_dir}}/test-env-openldap"
  slapd_ldif_path="{{etc_dir}}/test-env/openldap/slapd.ldif"
  seed_ldif_path="{{etc_dir}}/test-env/openldap/seed.ldif"
  bind="ldap://127.0.0.1:{{openldap.port}}/"

  PATH="{{_test_env_install_dir}}/libexec:{{_test_env_install_dir}}/sbin:{{_test_env_install_dir}}/bin:$PATH"
  run_args=()
  if [ -n "$api_umbrella_user" ]; then
    run_args+=("-u" "$api_umbrella_user")
  fi

  # Before each test run, wipe and populate the LDAP database from the seed
  # data.
  set -x
  dirs=("$db_dir")
  rm -rf "${dirs[@]}"
  runtool mkdir -p "${dirs[@]}"
  chmod 750 "${dirs[@]}"
  if [ -n "$api_umbrella_user" ]; then
    chown $api_umbrella_user:$api_umbrella_group "${dirs[@]}"
  fi
  runtool ${run_args[@]+"${run_args[@]}"} slapadd -F "$db_dir" -n 0 -l "$slapd_ldif_path"
  runtool ${run_args[@]+"${run_args[@]}"} slapadd -F "$db_dir" -l "$seed_ldif_path"

  exec runtool ${run_args[@]+"${run_args[@]}"} slapd -d 1 -h "$bind" -F "$db_dir"
fi

exit 0
