#!/usr/bin/env bash

# Redirect stderr to stdout
exec 2>&1

if [ "${1}" = "start" ]; then
  echo "starting ${2}..."
  api_umbrella_user="{{user}}"

  run_args=()
  if [ -n "$api_umbrella_user" ]; then
    run_args+=("-u" "$api_umbrella_user")
  fi

  exec runtool "${run_args[@]}" "{{_embedded_root_dir}}/presto/bin/launcher" run \
    --node-config="{{etc_dir}}/presto/node.properties" \
    --jvm-config="{{etc_dir}}/presto/jvm.config" \
    --config="{{etc_dir}}/presto/config.properties" \
    --log-levels-file="{{etc_dir}}/presto/log.properties"
fi

exit 0
