<div class="nested-fields">
  <%= f.input(:url, :input_html => { :class => "span6" }) %>
  <%= link_to_remove_association('<i class="icon-minus-sign"></i> Remove Server'.html_safe, f, :class => "btn btn-mini") %>
</div>
