<h1><%= crumbs.last.first %></h1>

<div class="button-actions">
  <%= link_to '<i class="icon-plus icon-white"></i> Add New API'.html_safe, new_admin_api_path, :class => "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @apis.each do |api| %>
      <tr>
        <td><%= link_to(api_user.name, edit_admin_api_path(api)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @apis %>
