#!/bin/sh

# Redirect stderr to stdout
exec 2>&1

if test ${1} = "start"; then
  echo "starting ${2}..."
  exec {{router.dir}}/bin/api-umbrella-router-log-listener {{api_umbrella_config_args}}
fi

exit 0
