<div {{did-insert this.didInsert}} ...attributes>
  <div id="results_table">
    <table class="table table-striped table-bordered table-sm table-nowrap table-max-width-cells"></table>
  </div>
  <div class="results-table-actions">
    <a href={{this.downloadUrl}}>Download CSV</a>
  </div>
</div>