<div class="alert alert-danger error-messages error-page" role="alert">
  <h4>Error</h4>
  <p>An unexpected error occurred while trying to load the page. Please <a href="javascript:window.location.reload(true)">try again</a> or <a href="javascript:history.back()">go back</a>.</p>
</div>
