coordinator=true
node-scheduler.include-coordinator=true
http-server.http.port={{presto.embedded_server_config.http_port}}
http-server.log.path={{log_dir}}/presto/http-request.log
query.max-memory={{presto.embedded_server_config.max_memory}}
query.max-memory-per-node={{presto.embedded_server_config.max_memory_per_node}}
discovery-server.enabled=true
discovery.uri={{presto.embedded_server_config.discovery_uri}}
catalog.config-dir={{etc_dir}}/presto/catalog

# Limit how long individual queries can run.
query.max-run-time={{presto.embedded_server_config.query_max_run_time}}
