<h1>Admin Groups</h1>

<div class="button-actions button-actions-down">
  <LinkTo @route="admin_groups.new" class="btn btn-primary"><FaIcon @icon="plus" /> Add New Admin Group</LinkTo>
</div>

<AdminGroups::IndexTable />
