<h1>Admin Groups</h1>

<div class="button-actions button-actions-down">
  {{#link-to "admin_groups.new" class="btn btn-primary"}}<i class="fa fa-plus"></i> Add New Admin Group{{/link-to}}
</div>

{{admin-groups/index-table}}
