<div id="login">
  <h1>Admin Login</h1>

  <% if(!resource_class.omniauth_providers.include?(:developer) && Admin.count == 0) %>
    <div class="alert alert-danger">
      <strong>No admins currently exist.</strong><br>
      Initial admin accounts may be defined in <code>/etc/api-umbrella/api-umbrella.yml</code> (see the <code>web.admin.initial_superusers</code> section)
    </div>
  <% end %>

  <div class="admin-logins">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <div class="admin-login">
        <% strategy = Devise.omniauth_configs[provider].strategy %>
        <% if(strategy.respond_to?(:client_secret) && strategy.client_secret.blank?) %>
          <div class="alert alert-danger">
            <%= t(provider, :scope => [:omniauth_providers]) %> authentication provider not yet configured.<br>
            Access tokens must be defined in <code>/etc/api-umbrella/api-umbrella.yml</code> (see the <code>web.admin.auth_strategies</code> section)
          </div>
          <button class="btn" disabled="disabled">Login with <%= t(provider, :scope => [:omniauth_providers]) %></button>
        <% else %>
          <%= link_to "Login with #{t(provider, :scope => [:omniauth_providers])}", omniauth_authorize_path(resource_name, provider), :class => "btn" %>
        <% end %>
      </div>
    <% end -%>
  </div>
</div>
