{{#form-fields/field-wrapper model=model style=style fieldName=fieldName inputId=inputId}}
  <div class="custom-control custom-checkbox">
    {{one-way-checkbox checked=(get model fieldName) update=(action (mut (get model fieldName))) id=inputId class="custom-control-input"}}
    <label class="custom-control-label" for={{inputId}}>{{label}}</label>
  </div>
{{/form-fields/field-wrapper}}
