{{#form-fields/field-wrapper model=model style=style fieldName=fieldName inputId=inputId label=label tooltip=tooltip hint=hint}}
  <div class="form-control-static">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{get model fieldName}}
    {{/if}}
  </div>
{{/form-fields/field-wrapper}}
