<h1>Website Backends</h1>

<div class="button-actions button-actions-down">
  <LinkTo @route="website_backends.new" class="btn btn-primary"><FaIcon @icon="plus" /> Add Website Backend</LinkTo>
</div>

<WebsiteBackends::IndexTable />
