<h1>Website Backends</h1>

<div class="button-actions button-actions-down">
  {{#link-to "website_backends.new" class="btn btn-primary"}}<i class="fa fa-plus"></i> Add Website Backend{{/link-to}}
</div>

{{website-backends/index-table}}
