<h1>API Users</h1>

<div class="button-actions button-actions-down">
  {{#link-to "api_users.new" class="btn btn-primary"}}<i class="fa fa-plus"></i> Add New API User{{/link-to}}
</div>

{{api-users/index-table}}
