<h1>API Users</h1>

<div class="button-actions button-actions-down">
  <LinkTo @route="api_users.new" class="btn btn-primary"><FaIcon @icon="plus" /> Add New API User</LinkTo>
</div>

<ApiUsers::IndexTable />
