---
title: API Umbrella - Open Source API Management
---

<div id="headerwrap">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1><i class="fa fa-umbrella"></i> <b>API Umbrella</b></h1>
        <h3>Open Source API Management</h3>
        <p class="actions">
          <%= link_to('<i class="fa fa-download fa-lg"></i>Install', "/install.html", :class => "btn btn-default btn-lg", :role => "button") %>
        </p>
        <div class="details">
          <p>
            API Umbrella is a proxy that sits in front of your APIs.<br>
            It can seamlessly add common functionality like api keys, rate limiting, and analytics to any API.
          </p>
        </div>
        <%= link_to(%(<img class="img-responsive img-center" src="images/overview.png" data-at2x="images/overview@2x.png" alt="" width="676" height="266">), "/docs/architecture.html", :relative => true) %>
        <div class="links">
          Version 0.11.1&nbsp;&nbsp;&nbsp;&nbsp;&sdot;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/NREL/api-umbrella"><i class="fa fa-github"></i>GitHub Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
