// Attempt to disable animations in test mode to improve the
// reliability of some Capybara timing stuff without sleeping:
// http://stackoverflow.com/a/13119950
// Note that we're disabling transitions completely, which doesn't work in
// Bootstrap unless we also define $.support.transition = false in
// admin_test.js (the suggestion from stackoverflow to lower the timeout still
// leads to some reproducible funkiness).
* {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
