$baseFontSize: 13px;

$sansFontFamily: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
$serifFontFamily: Georgia, "Times New Roman", Times, serif;
$textColor: #666;

$linkColor: #3366ac;
$linkColorHover: #4782b1;

$headingsFontFamily: $serifFontFamily;
$headingsColor: #0a3163;

$navbarHeight: 35px;

$navbarBackgroundHighlight: #284a77;
$navbarBackground: #0b3064;

$navbarText: #fff;
$navbarLinkColor: $navbarText;
$navbarLinkColorActive: $navbarText;
$navbarLinkColorHover: $navbarText;

$navbarLinkBackgroundActive: #4782b1;
$navbarLinkBackgroundHover: $navbarLinkBackgroundActive;
