$baseFontSize: 13px;

$sansFontFamily: Verdana, Arial, Helvetica, sans-serif;
$textColor: #000;

$linkColor: #004f99;
$linkColorHover: #c60;
$linkColorVisited: #c60;

$headingsColor: #c60;

$navbarHeight: 21px;

$navbarBackgroundHighlight: #0067b7;
$navbarBackground: #00509a;

$navbarText: #fff;
$navbarLinkColor: $navbarText;
$navbarLinkColorActive: #06539b;
$navbarLinkColorHover: $navbarLinkColorActive;

$navbarLinkBackgroundActive: #fff;
$navbarLinkBackgroundHover: $navbarLinkBackgroundActive;
