<div id="results_table searchable-table-with-add">
  <table class="table table-striped table-bordered table-condensed"></table>
</div>

<div class="results-table-actions">
  <a href="{{downloadUrl}}">Download CSV</a>
</div>
