{
  "id": "repl0",
  "rsSettings": {
    "electionTimeoutMillis": 1000
  },
  "members": [
    {
      "procParams": {
        "dbpath": "{{db_dir}}/mongodb-13090",
        "ipv6": false,
        "logpath": "{{log_dir}}/mongod-13090.log",
        "nohttpinterface": true,
        "nojournal": true,
        "noprealloc": true,
        "nssize": 1,
        "oplogSize": 10,
        "port": 13090,
        "smallfiles": true
      },
      "rsParams": {
        "priority": 99
      }
    },
    {
      "procParams": {
        "dbpath": "{{db_dir}}/mongodb-13091",
        "ipv6": false,
        "logpath": "{{log_dir}}/mongod-13091.log",
        "nohttpinterface": true,
        "nojournal": true,
        "noprealloc": true,
        "nssize": 1,
        "oplogSize": 10,
        "port": 13091,
        "smallfiles": true
      },
      "rsParams": {
        "priority": 1.1
      }
    },
    {
      "procParams": {
        "dbpath": "{{db_dir}}/mongodb-13092",
        "ipv6": false,
        "logpath": "{{log_dir}}/mongod-13092.log",
        "nohttpinterface": true,
        "nojournal": true,
        "noprealloc": true,
        "nssize": 1,
        "oplogSize": 10,
        "port": 13092,
        "smallfiles": true
      },
      "rsParams": {
        "arbiterOnly": true
      }
    }
  ]
}
