.breadcrumb {
  background-color: transparent;
  color: #3c4349;
  font-size: pxtoem(11px);
  font-weight: bold;
  padding: 0px;
  margin-bottom: 12px;
}

.breadcrumb li {
  line-height: 1;
}

.breadcrumb,
.breadcrumb a,
.breadcrumb .divider,
.breadcrumb .active {
  color: #3c4349;
}

.breadcrumb .divider {
  padding: 0px;
}
