.navbar {
  margin-bottom: 8px;
}

.navbar-inner {
  padding: 0px;
  border-style: none;
  @include border-radius(0px);
}

.navbar .nav {
	text-transform: uppercase;
}

.navbar .nav > li {
  border-right: 1px solid #91b6e2;
  font-size: pxtoem(12px);
}

.navbar .nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: $navbarHeight;
}

.nav > li > a:focus,
.nav > li > a:hover,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  @include gradient-vertical($navbarLinkBackgroundActive, #d8dfeb);
  @include box-shadow(none);
  text-shadow: none;
}
