<li>
  <div class="collection-item">
    <%= link_to(tree_node.title, edit_admin_api_doc_collection_path(tree_node)) %>
    <span class="collection-actions"><%= link_to('<i class="icon-trash"></i> Delete'.html_safe, admin_api_doc_collection_path(tree_node), :method => :delete, :confirm => "Are you sure you want to delete this collection?") %></span>
  </div>
  <% if tree_node.children.any? %>
    <ul>
      <%= render :partial => "tree_node", :collection => tree_node.children %>
    </ul>
  <% end %>
</li>
