<h1><%= crumbs.last.first %></h1>

<div class="button-actions">
  <%= link_to '<i class="icon-plus icon-white"></i> Add New Collection'.html_safe, new_admin_api_doc_collection_path, :class => "btn btn-primary" %>
</div>

<ul class="collection-list">
  <%= render :partial => "tree_node", :collection => @collections %>
</ul>
