$headings-color: $text-color;

$navbar-default-bg: lighten($gray-base, 23%);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-active-bg: $navbar-default-link-hover-bg;
