<div id="footer" class="container-fluid">
  <div id="footer-inner">
    <div id="footer-menu">
      <ul class="menu">
        <li class="first leaf"><a href="http://www.data.gov/about">About</a></li>
        <li class="leaf"><a href="http://www.data.gov/accessibility">Accessibility</a></li>
        <li class="leaf"><a href="http://www.data.gov/contact-us">Contact Us</a></li>
        <li class="leaf"><a href="http://www.data.gov/data-policy">Data Policy</a></li>
        <li class="leaf"><a href="http://www.data.gov/faq">FAQ</a></li>
        <li class="leaf"><a href="http://www.data.gov/privacy-policy">Privacy Policy</a></li>
        <li class="leaf"><a href="http://www.data.gov/sitemap" title="">Sitemap</a></li>
        <li class="last leaf"><a href="http://www.usa.gov" title="">USA.gov</a></li>
      </ul>
    </div>
    <div id="footer-logo"><%= image_tag("gsa/datagov-footer-logo.png", :alt => "Data.gov") %></div>
  </div>
</div>
