<div id="preheader" class="container-fluid">
  <div id="preheader-inner" class="row-fluid">
    <div id="whitehouse"><p><%= image_tag("gsa/usaflag.gif", :alt => "USA Flag") %> <em>An Official Website of the United States Government</em></p></div>
  </div>
</div>
